<?xml version="1.0" encoding="utf-8"?>
<manifest package="edu.mit.appinventor.aicompanion3"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/AppTheme" />
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="26" />

</manifest>
