[submodule "appinventor/lib/blockly"]
	path = appinventor/lib/blockly
	url = https://github.com/mit-cml/blockly.git
[submodule "appinventor/lib/closure-library"]
	path = appinventor/lib/closure-library
	url = https://github.com/mit-cml/closure-library.git
