.blocklyWarningIconGroup .blocklyIconShape {
  cursor: default;
  fill: #ff5;
  stroke-width: 1px;
  stroke: #555;
}

.blocklyWarningIconGroup .blocklyIconSymbol {
  fill: #000;
}

.blocklyIconGroup .blocklyErrorIconOutline {
  stroke: #000000;
  stroke-width: 1px;
  fill: #ff0000;
}

.blocklyIconGroup .blocklyErrorIconX {
  stroke: #ffffff;
  stroke-width: 2px;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  fill: none;
}

.blocklybackpackFlyoutBackground {
  fill: #ddd;
  fill-opacity: .8;
}
