/* Annotated CSS styles for TaskList.java */
body {
  background-color: #fff;
  font-family: Georgia, Times, serif;
  color: #000;
  margin: 0;
  overflow-x: hidden;
}

@sprite .plus {
  gwt-image: "plus";
  position: absolute;
  right: 90px;
}

@sprite .garbage {
  gwt-image: "garbage";
  position: absolute;
  right: 30px;
}

.taskRow {
  position: relative;
  height: 40px;
  background-color: #e2f1fd;
  border-bottom: 2px solid #fff;
  color: #ddd;
}

.taskRowPersisted {
  color: #333;
}

.title {
  padding-top: 10px;
  padding-left: 5px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  border-left: 10px solid #f00;
}

@sprite .checked {
  gwt-image: "checkMark";
}

@sprite .unChecked {
  gwt-image: "checkBox";
  margin-top: 2px;
}

.user {
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 20px;
  padding-top: 25px;
}

.checkBoxContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  padding-left: 10px;
  padding-top: 10px;
  height: 30px;
  background-color: #e2f1fd;
}