/**
 *  * User: Edwin Zhang (ehzhang@mit.edu)
 *  Before creating a test, make sure that there exists a corresponding .bky, .scm,
 *  and .yail file in the data folder, and that the test is in the same directory.
 *  Follow the naming convention of the testXXXX.js, with data files in a folder
 *  named XXXX, containing the classic .yail, newblocks .bky and newblocks .scm
 *  Details on generating classic .yail can be found in the README.
 */

var fs = require('fs'); //Always required to read from files
var path = fs.absolute('.');
var system = require('system');
var args = system.args;

//Read files from filesystem
var expected = fs.read(path + '/blocklyeditor/tests/com/google/appinventor/blocklyeditor/data/<FOLDERNAME>/<EXPECTED_YAIL_FILE>');
var formJson = fs.read(path + '/blocklyeditor/tests/com/google/appinventor/blocklyeditor/data/<FOLDERNAME>/<NEWBLOCKS_SCM_FILE>');
formJson = formJson.substring(9, formJson.length-2); // Cut off Leading $JSON
var blocks = fs.read(path + '/blocklyeditor/tests/com/google/appinventor/blocklyeditor/data/<FOLDERNAME>/<NEWBLOCKS_BKY_FILE>');

// PhantomJS page object to open and load an URL
var page = require('webpage').create();
// Some debugging from PhantomJS
page.onConsoleMessage = function (msg) { console.log(msg); };
page.onError = function (msg, trace) {
  console.log(msg);
  trace.forEach(function(item) {
    console.log('  ', item.file, ':', item.line);
  })
}

// Open the actual page and load all the JavaScript in it
// If success is true, all went well
page.open('blocklyeditor/src/demos/yail/yail_testing_index.html', function(status) {
  // The evaluate function has arguments passed after the callback
  // We are passing in the .bky, .scm, and expected .yail

  if (status != 'success') {
    console.log('load unsuccessful');
  }

  // Evaluate the following:
  var passed = page.evaluate(function(){

    // Get the expected Yail from Classic
    var expected = arguments[0];

    // Functions in yail_testing_index.html
    processVersion(arguments[3], arguments[4]);
    processForm(arguments[1]);
    processBlocks(arguments[2]);

    var newblocks = toAppYail();

    return doTheyMatch(expected, newblocks);


  }, expected, formJson, blocks, args[1], args[2]); // args[1] and args[2] are blocks Version and YaV

  //This is the actual result of the test
  console.log(passed);
  //Exit the phantom process
  phantom.exit();
});


