<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>AF</key><string>AFG</string>
<key>AL</key><string>ALB</string>
<key>DZ</key><string>DZA</string>
<key>AS</key><string>ASM</string>
<key>AD</key><string>AND</string>
<key>AO</key><string>AGO</string>
<key>AI</key><string>AIA</string>
<key>AQ</key><string>ATA</string>
<key>AG</key><string>ATG</string>
<key>AR</key><string>ARG</string>
<key>AM</key><string>ARM</string>
<key>AW</key><string>ABW</string>
<key>AU</key><string>AUS</string>
<key>AT</key><string>AUT</string>
<key>AZ</key><string>AZE</string>
<key>BS</key><string>BHS</string>
<key>BH</key><string>BHR</string>
<key>BD</key><string>BGD</string>
<key>BB</key><string>BRB</string>
<key>BY</key><string>BLR</string>
<key>BE</key><string>BEL</string>
<key>BZ</key><string>BLZ</string>
<key>BJ</key><string>BEN</string>
<key>BM</key><string>BMU</string>
<key>BT</key><string>BTN</string>
<key>BO</key><string>BOL</string>
<key>BA</key><string>BIH</string>
<key>BW</key><string>BWA</string>
<key>BV</key><string>BVT</string>
<key>BR</key><string>BRA</string>
<key>IO</key><string>IOT</string>
<key>VG</key><string>VGB</string>
<key>BN</key><string>BRN</string>
<key>BG</key><string>BGR</string>
<key>BF</key><string>BFA</string>
<key>BI</key><string>BDI</string>
<key>KH</key><string>KHM</string>
<key>CM</key><string>CMR</string>
<key>CA</key><string>CAN</string>
<key>CV</key><string>CPV</string>
<key>KY</key><string>CYM</string>
<key>CF</key><string>CAF</string>
<key>TD</key><string>TCD</string>
<key>CL</key><string>CHL</string>
<key>CN</key><string>CHN</string>
<key>CX</key><string>CXR</string>
<key>CC</key><string>CCK</string>
<key>CO</key><string>COL</string>
<key>KM</key><string>COM</string>
<key>CD</key><string>COD</string>
<key>CG</key><string>COG</string>
<key>CK</key><string>COK</string>
<key>CR</key><string>CRI</string>
<key>CI</key><string>CIV</string>
<key>CU</key><string>CUB</string>
<key>CY</key><string>CYP</string>
<key>CZ</key><string>CZE</string>
<key>DK</key><string>DNK</string>
<key>DJ</key><string>DJI</string>
<key>DM</key><string>DMA</string>
<key>DO</key><string>DOM</string>
<key>EC</key><string>ECU</string>
<key>EG</key><string>EGY</string>
<key>SV</key><string>SLV</string>
<key>GQ</key><string>GNQ</string>
<key>ER</key><string>ERI</string>
<key>EE</key><string>EST</string>
<key>ET</key><string>ETH</string>
<key>FO</key><string>FRO</string>
<key>FK</key><string>FLK</string>
<key>FJ</key><string>FJI</string>
<key>FI</key><string>FIN</string>
<key>FR</key><string>FRA</string>
<key>GF</key><string>GUF</string>
<key>PF</key><string>PYF</string>
<key>TF</key><string>ATF</string>
<key>GA</key><string>GAB</string>
<key>GM</key><string>GMB</string>
<key>GE</key><string>GEO</string>
<key>DE</key><string>DEU</string>
<key>GH</key><string>GHA</string>
<key>GI</key><string>GIB</string>
<key>GR</key><string>GRC</string>
<key>GL</key><string>GRL</string>
<key>GD</key><string>GRD</string>
<key>GP</key><string>GLP</string>
<key>GU</key><string>GUM</string>
<key>GT</key><string>GTM</string>
<key>GN</key><string>GIN</string>
<key>GW</key><string>GNB</string>
<key>GY</key><string>GUY</string>
<key>HT</key><string>HTI</string>
<key>HM</key><string>HMD</string>
<key>VA</key><string>VAT</string>
<key>HN</key><string>HND</string>
<key>HK</key><string>HKG</string>
<key>HR</key><string>HRV</string>
<key>HU</key><string>HUN</string>
<key>IS</key><string>ISL</string>
<key>IN</key><string>IND</string>
<key>ID</key><string>IDN</string>
<key>IR</key><string>IRN</string>
<key>IQ</key><string>IRQ</string>
<key>IE</key><string>IRL</string>
<key>IL</key><string>ISR</string>
<key>IT</key><string>ITA</string>
<key>JM</key><string>JAM</string>
<key>JP</key><string>JPN</string>
<key>JO</key><string>JOR</string>
<key>KZ</key><string>KAZ</string>
<key>KE</key><string>KEN</string>
<key>KI</key><string>KIR</string>
<key>KP</key><string>PRK</string>
<key>KR</key><string>KOR</string>
<key>KW</key><string>KWT</string>
<key>KG</key><string>KGZ</string>
<key>LA</key><string>LAO</string>
<key>LV</key><string>LVA</string>
<key>LB</key><string>LBN</string>
<key>LS</key><string>LSO</string>
<key>LR</key><string>LBR</string>
<key>LY</key><string>LBY</string>
<key>LI</key><string>LIE</string>
<key>LT</key><string>LTU</string>
<key>LU</key><string>LUX</string>
<key>MO</key><string>MAC</string>
<key>MK</key><string>MKD</string>
<key>MG</key><string>MDG</string>
<key>MW</key><string>MWI</string>
<key>MY</key><string>MYS</string>
<key>MV</key><string>MDV</string>
<key>ML</key><string>MLI</string>
<key>MT</key><string>MLT</string>
<key>MH</key><string>MHL</string>
<key>MQ</key><string>MTQ</string>
<key>MR</key><string>MRT</string>
<key>MU</key><string>MUS</string>
<key>YT</key><string>MYT</string>
<key>MX</key><string>MEX</string>
<key>FM</key><string>FSM</string>
<key>MD</key><string>MDA</string>
<key>MC</key><string>MCO</string>
<key>MN</key><string>MNG</string>
<key>MS</key><string>MSR</string>
<key>MA</key><string>MAR</string>
<key>MZ</key><string>MOZ</string>
<key>MM</key><string>MMR</string>
<key>NA</key><string>NAM</string>
<key>NR</key><string>NRU</string>
<key>NP</key><string>NPL</string>
<key>AN</key><string>ANT</string>
<key>NL</key><string>NLD</string>
<key>NC</key><string>NCL</string>
<key>NZ</key><string>NZL</string>
<key>NI</key><string>NIC</string>
<key>NE</key><string>NER</string>
<key>NG</key><string>NGA</string>
<key>NU</key><string>NIU</string>
<key>NF</key><string>NFK</string>
<key>MP</key><string>MNP</string>
<key>NO</key><string>NOR</string>
<key>OM</key><string>OMN</string>
<key>PK</key><string>PAK</string>
<key>PW</key><string>PLW</string>
<key>PS</key><string>PSE</string>
<key>PA</key><string>PAN</string>
<key>PG</key><string>PNG</string>
<key>PY</key><string>PRY</string>
<key>PE</key><string>PER</string>
<key>PH</key><string>PHL</string>
<key>PN</key><string>PCN</string>
<key>PL</key><string>POL</string>
<key>PT</key><string>PRT</string>
<key>PR</key><string>PRI</string>
<key>QA</key><string>QAT</string>
<key>RE</key><string>REU</string>
<key>RO</key><string>ROU</string>
<key>RU</key><string>RUS</string>
<key>RW</key><string>RWA</string>
<key>SH</key><string>SHN</string>
<key>KN</key><string>KNA</string>
<key>LC</key><string>LCA</string>
<key>PM</key><string>SPM</string>
<key>VC</key><string>VCT</string>
<key>WS</key><string>WSM</string>
<key>SM</key><string>SMR</string>
<key>ST</key><string>STP</string>
<key>SA</key><string>SAU</string>
<key>SN</key><string>SEN</string>
<key>CS</key><string>SCG</string>
<key>SC</key><string>SYC</string>
<key>SL</key><string>SLE</string>
<key>SG</key><string>SGP</string>
<key>SK</key><string>SVK</string>
<key>SI</key><string>SVN</string>
<key>SB</key><string>SLB</string>
<key>SO</key><string>SOM</string>
<key>ZA</key><string>ZAF</string>
<key>GS</key><string>SGS</string>
<key>ES</key><string>ESP</string>
<key>LK</key><string>LKA</string>
<key>SD</key><string>SDN</string>
<key>SR</key><string>SUR</string>
<key>SJ</key><string>SJM</string>
<key>SZ</key><string>SWZ</string>
<key>SE</key><string>SWE</string>
<key>CH</key><string>CHE</string>
<key>SY</key><string>SYR</string>
<key>TW</key><string>TWN</string>
<key>TJ</key><string>TJK</string>
<key>TZ</key><string>TZA</string>
<key>TH</key><string>THA</string>
<key>TL</key><string>TLS</string>
<key>TG</key><string>TGO</string>
<key>TK</key><string>TKL</string>
<key>TO</key><string>TON</string>
<key>TT</key><string>TTO</string>
<key>TN</key><string>TUN</string>
<key>TR</key><string>TUR</string>
<key>TM</key><string>TKM</string>
<key>TC</key><string>TCA</string>
<key>TV</key><string>TUV</string>
<key>VI</key><string>VIR</string>
<key>UG</key><string>UGA</string>
<key>UA</key><string>UKR</string>
<key>AE</key><string>ARE</string>
<key>GB</key><string>GBR</string>
<key>UM</key><string>UMI</string>
<key>US</key><string>USA</string>
<key>UY</key><string>URY</string>
<key>UZ</key><string>UZB</string>
<key>VU</key><string>VUT</string>
<key>VE</key><string>VEN</string>
<key>VN</key><string>VNM</string>
<key>WF</key><string>WLF</string>
<key>EH</key><string>ESH</string>
<key>YE</key><string>YEM</string>
<key>ZM</key><string>ZMB</string>
<key>ZW</key><string>ZWE</string>
</dict>
</plist>