{
 "kind": "discovery#restDescription",
 "discoveryVersion": "v1",
 "id": "replicapoolupdater:v1beta1",
 "name": "replicapoolupdater",
 "version": "v1beta1",
 "revision": "20181207",
 "title": "Google Compute Engine Instance Group Updater API",
 "description": "[Deprecated. Please use compute.instanceGroupManagers.update method. replicapoolupdater API will be disabled after December 30th, 2016] Updates groups of Compute Engine instances.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
  "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
 },
 "documentationLink": "https://cloud.google.com/compute/docs/instance-groups/manager/#applying_rolling_updates_using_the_updater_service",
 "labels": [
  "limited_availability"
 ],
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/replicapoolupdater/v1beta1/projects/",
 "basePath": "/replicapoolupdater/v1beta1/projects/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "replicapoolupdater/v1beta1/projects/",
 "batchPath": "batch/replicapoolupdater/v1beta1",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "Deprecated. Please use quotaUser instead.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "View and manage your data across Google Cloud Platform services"
    },
    "https://www.googleapis.com/auth/cloud-platform.read-only": {
     "description": "View your data across Google Cloud Platform services"
    },
    "https://www.googleapis.com/auth/replicapool": {
     "description": "View and manage replica pools"
    },
    "https://www.googleapis.com/auth/replicapool.readonly": {
     "description": "View replica pools"
    }
   }
  }
 },
 "schemas": {
  "FixedOrPercent": {
   "id": "FixedOrPercent",
   "type": "object",
   "description": "Used to specify an amount of instances within an instance group. Only one of fixed and percentage can be specified.",
   "properties": {
    "fixed": {
     "type": "integer",
     "description": "Specify a fixed amount of instances",
     "format": "int32"
    },
    "percent": {
     "type": "integer",
     "description": "Specify a percentage of the total amount of instances within an instance group manager",
     "format": "int32"
    }
   }
  },
  "InstanceUpdate": {
   "id": "InstanceUpdate",
   "type": "object",
   "description": "Update of a single instance.",
   "properties": {
    "error": {
     "type": "object",
     "description": "Errors that occurred during the instance update.",
     "properties": {
      "errors": {
       "type": "array",
       "description": "[Output Only] The array of errors encountered while processing this operation.",
       "items": {
        "type": "object",
        "properties": {
         "code": {
          "type": "string",
          "description": "[Output Only] The error type identifier for this error."
         },
         "location": {
          "type": "string",
          "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional."
         },
         "message": {
          "type": "string",
          "description": "[Output Only] An optional, human-readable error message."
         }
        }
       }
      }
     }
    },
    "instance": {
     "type": "string",
     "description": "Fully-qualified URL of the instance being updated."
    },
    "status": {
     "type": "string",
     "description": "Status of the instance update. Possible values are:  \n- \"PENDING\": The instance update is pending execution. \n- \"ROLLING_FORWARD\": The instance update is going forward. \n- \"ROLLING_BACK\": The instance update is being rolled back. \n- \"PAUSED\": The instance update is temporarily paused (inactive). \n- \"ROLLED_OUT\": The instance update is finished, the instance is running the new template. \n- \"ROLLED_BACK\": The instance update is finished, the instance has been reverted to the previous template. \n- \"CANCELLED\": The instance update is paused and no longer can be resumed, undefined in which template the instance is running."
    }
   }
  },
  "InstanceUpdateList": {
   "id": "InstanceUpdateList",
   "type": "object",
   "description": "Response returned by ListInstanceUpdates method.",
   "properties": {
    "items": {
     "type": "array",
     "description": "Collection of requested instance updates.",
     "items": {
      "$ref": "InstanceUpdate"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource.",
     "default": "replicapoolupdater#instanceUpdateList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] The fully qualified URL for the resource."
    }
   }
  },
  "ListRolloutResponse": {
   "id": "ListRolloutResponse",
   "type": "object",
   "properties": {
    "resources": {
     "type": "array",
     "items": {
      "$ref": "Rollout"
     }
    }
   }
  },
  "Operation": {
   "id": "Operation",
   "type": "object",
   "description": "An operation resource, used to manage asynchronous API requests.",
   "properties": {
    "clientOperationId": {
     "type": "string"
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "endTime": {
     "type": "string"
    },
    "error": {
     "type": "object",
     "description": "[Output Only] If errors occurred during processing of this operation, this field will be populated.",
     "properties": {
      "errors": {
       "type": "array",
       "description": "[Output Only] The array of errors encountered while processing this operation.",
       "items": {
        "type": "object",
        "properties": {
         "code": {
          "type": "string",
          "description": "[Output Only] The error type identifier for this error."
         },
         "location": {
          "type": "string",
          "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional."
         },
         "message": {
          "type": "string",
          "description": "[Output Only] An optional, human-readable error message."
         }
        }
       }
      }
     }
    },
    "httpErrorMessage": {
     "type": "string"
    },
    "httpErrorStatusCode": {
     "type": "integer",
     "format": "int32"
    },
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server.",
     "format": "uint64"
    },
    "insertTime": {
     "type": "string",
     "description": "[Output Only] The time that this operation was requested. This is in RFC 3339 format."
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always replicapoolupdater#operation for Operation resources.",
     "default": "replicapoolupdater#operation"
    },
    "name": {
     "type": "string",
     "description": "[Output Only] Name of the resource."
    },
    "operationType": {
     "type": "string"
    },
    "progress": {
     "type": "integer",
     "format": "int32"
    },
    "region": {
     "type": "string",
     "description": "[Output Only] URL of the region where the operation resides."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] The fully qualified URL for the resource."
    },
    "startTime": {
     "type": "string",
     "description": "[Output Only] The time that this operation was started by the server. This is in RFC 3339 format."
    },
    "status": {
     "type": "string",
     "description": "[Output Only] Status of the operation. Can be one of the following: \"PENDING\", \"RUNNING\", or \"DONE\"."
    },
    "statusMessage": {
     "type": "string",
     "description": "[Output Only] An optional textual description of the current status of the operation."
    },
    "targetId": {
     "type": "string",
     "description": "[Output Only] Unique target id which identifies a particular incarnation of the target.",
     "format": "uint64"
    },
    "targetLink": {
     "type": "string",
     "description": "[Output Only] URL of the resource the operation is mutating."
    },
    "user": {
     "type": "string"
    },
    "warnings": {
     "type": "array",
     "items": {
      "type": "object",
      "properties": {
       "code": {
        "type": "string",
        "description": "[Output only] The warning type identifier for this warning."
       },
       "data": {
        "type": "array",
        "description": "[Output only] Metadata for this warning in key:value format.",
        "items": {
         "type": "object",
         "properties": {
          "key": {
           "type": "string",
           "description": "[Output Only] Metadata key for this warning."
          },
          "value": {
           "type": "string",
           "description": "[Output Only] Metadata value for this warning."
          }
         }
        }
       },
       "message": {
        "type": "string",
        "description": "[Output only] Optional human-readable details for this warning."
       }
      }
     }
    },
    "zone": {
     "type": "string",
     "description": "[Output Only] URL of the zone where the operation resides."
    }
   }
  },
  "OperationList": {
   "id": "OperationList",
   "type": "object",
   "description": "Contains a list of Operation resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "[Output Only] The Operation resources.",
     "items": {
      "$ref": "Operation"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always replicapoolupdater#operationList for OperationList resources.",
     "default": "replicapoolupdater#operationList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token used to continue a truncate."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] The fully qualified URL for the resource."
    }
   }
  },
  "RampUpRolloutRequest": {
   "id": "RampUpRolloutRequest",
   "type": "object",
   "properties": {
    "canarySize": {
     "$ref": "FixedOrPercent",
     "description": "The new amount of instances in the IGM to update instances to."
    }
   }
  },
  "RollingUpdate": {
   "id": "RollingUpdate",
   "type": "object",
   "description": "The following represents a resource describing a single update (rollout) of a group of instances to the given template.",
   "properties": {
    "actionType": {
     "type": "string",
     "description": "Specifies the action to take for each instance within the instance group. This can be RECREATE which will recreate each instance and is only available for managed instance groups. It can also be REBOOT which performs a soft reboot for each instance and is only available for regular (non-managed) instance groups."
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional textual description of the resource; provided by the client when the resource is created."
    },
    "error": {
     "type": "object",
     "description": "[Output Only] Errors that occurred during the rolling update.",
     "properties": {
      "errors": {
       "type": "array",
       "description": "[Output Only] The array of errors encountered while processing this operation.",
       "items": {
        "type": "object",
        "properties": {
         "code": {
          "type": "string",
          "description": "[Output Only] The error type identifier for this error."
         },
         "location": {
          "type": "string",
          "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional."
         },
         "message": {
          "type": "string",
          "description": "[Output Only] An optional, human-readable error message."
         }
        }
       }
      }
     }
    },
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "instanceGroup": {
     "type": "string",
     "description": "Fully-qualified URL of an instance group being updated. Exactly one of instanceGroupManager and instanceGroup must be set."
    },
    "instanceGroupManager": {
     "type": "string",
     "description": "Fully-qualified URL of an instance group manager being updated. Exactly one of instanceGroupManager and instanceGroup must be set."
    },
    "instanceTemplate": {
     "type": "string",
     "description": "Fully-qualified URL of an instance template to apply."
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource.",
     "default": "replicapoolupdater#rollingUpdate"
    },
    "oldInstanceTemplate": {
     "type": "string",
     "description": "Fully-qualified URL of the instance template encountered while starting the update."
    },
    "policy": {
     "type": "object",
     "description": "Parameters of the update process.",
     "properties": {
      "autoPauseAfterInstances": {
       "type": "integer",
       "description": "Number of instances to update before the updater pauses the rolling update.",
       "format": "int32"
      },
      "instanceStartupTimeoutSec": {
       "type": "integer",
       "description": "The maximum amount of time that the updater waits for a HEALTHY state after all of the update steps are complete. If the HEALTHY state is not received before the deadline, the instance update is considered a failure.",
       "format": "int32"
      },
      "maxNumConcurrentInstances": {
       "type": "integer",
       "description": "The maximum number of instances that can be updated simultaneously. An instance update is considered complete only after the instance is restarted and initialized.",
       "format": "int32"
      },
      "maxNumFailedInstances": {
       "type": "integer",
       "description": "The maximum number of instance updates that can fail before the group update is considered a failure. An instance update is considered failed if any of its update actions (e.g. Stop call on Instance resource in Rolling Reboot) failed with permanent failure, or if the instance is in an UNHEALTHY state after it finishes all of the update actions.",
       "format": "int32"
      },
      "minInstanceUpdateTimeSec": {
       "type": "integer",
       "description": "The minimum amount of time that the updater spends to update each instance. Update time is the time it takes to complete all update actions (e.g. Stop call on Instance resource in Rolling Reboot), reboot, and initialize. If the instance update finishes early, the updater pauses for the remainder of the time before it starts the next instance update.",
       "format": "int32"
      }
     }
    },
    "progress": {
     "type": "integer",
     "description": "[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess at when the update will be complete. This number should be monotonically increasing as the update progresses.",
     "format": "int32"
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] The fully qualified URL for the resource."
    },
    "status": {
     "type": "string",
     "description": "[Output Only] Status of the update. Possible values are:  \n- \"ROLLING_FORWARD\": The update is going forward. \n- \"ROLLING_BACK\": The update is being rolled back. \n- \"PAUSED\": The update is temporarily paused (inactive). \n- \"ROLLED_OUT\": The update is finished, all instances have been updated successfully. \n- \"ROLLED_BACK\": The update is finished, all instances have been reverted to the previous template. \n- \"CANCELLED\": The update is paused and no longer can be resumed, undefined how many instances are running in which template."
    },
    "statusMessage": {
     "type": "string",
     "description": "[Output Only] An optional textual description of the current status of the update."
    },
    "user": {
     "type": "string",
     "description": "[Output Only] User who requested the update, for example: user@example.com."
    }
   }
  },
  "RollingUpdateList": {
   "id": "RollingUpdateList",
   "type": "object",
   "description": "Response returned by List method.",
   "properties": {
    "items": {
     "type": "array",
     "description": "Collection of requested updates.",
     "items": {
      "$ref": "RollingUpdate"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource.",
     "default": "replicapoolupdater#rollingUpdateList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] The fully qualified URL for the resource."
    }
   }
  },
  "Rollout": {
   "id": "Rollout",
   "type": "object",
   "properties": {
    "canarySize": {
     "$ref": "FixedOrPercent",
     "description": "The amount of instances within the instance group manager to be updated to the new instance template."
    },
    "canarySizeStages": {
     "type": "array",
     "description": "A list of the amount of instances within the instance group manager to be updated to the new instance template. Each target size is updated sequentially, in the order supplied.",
     "items": {
      "$ref": "FixedOrPercent"
     }
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "healthCheckDeadlineSec": {
     "type": "string",
     "description": "How long to wait for the health checks to return positive before assuming the update has failed or succeeded.",
     "format": "int64"
    },
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "instanceGroupManager": {
     "type": "string",
     "description": "Fully-qualified URL of an instance group manager being updated."
    },
    "instanceTemplate": {
     "type": "string",
     "description": "Fully-qualified URL of an instance template to apply."
    },
    "instanceTemplateToRollback": {
     "type": "string",
     "description": "Fully-qualified URL of the instance template to rollback to if the rollout is cancelled."
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource.",
     "default": "replicapoolupdater#rollout"
    },
    "parentRollout": {
     "type": "string",
     "description": "The parent rollout to inherit unspecified fields from."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] The fully qualified URL for the resource."
    },
    "state": {
     "type": "string",
     "description": "[Output Only] The current state of the rollout."
    },
    "updatePolicy": {
     "$ref": "UpdatePolicy",
     "description": "Parameters of the update process."
    }
   }
  },
  "UpdatePolicy": {
   "id": "UpdatePolicy",
   "type": "object",
   "properties": {
    "maxSurge": {
     "$ref": "FixedOrPercent",
     "description": "Maximum number of instances that can be created above the InstanceGroupManager.targetSize during the update process. By default, a fixed value of 1 is used. Using maxSurge \u003e 0 will cause instance names to change during the update process. At least one of { maxSurge, maxUnavailable } must be greater than 0."
    },
    "maxUnavailable": {
     "$ref": "FixedOrPercent",
     "description": "Maximum number of instances that can be unavailable during the update process. The instance is considered available if all of the following conditions are satisfied: 1. instance's status is RUNNING 2. instance's liveness health check result was observed to be HEALTHY at least once By default, a fixed value of 1 is used. At least one of { maxSurge, maxUnavailable } must be greater than 0."
    },
    "minReadySec": {
     "type": "integer",
     "description": "Minimum number of seconds to wait for after a newly created instance becomes available. This value must be from range [0, 3600].",
     "format": "int32"
    },
    "minimalAction": {
     "type": "string",
     "description": "Minimal action to be taken on an instance. The order of action types is: RESTART \u003c REPLACE."
    },
    "type": {
     "type": "string"
    },
    "updateType": {
     "type": "string",
     "description": "The type of update"
    }
   }
  }
 },
 "resources": {
  "rollingUpdates": {
   "methods": {
    "cancel": {
     "id": "replicapoolupdater.rollingUpdates.cancel",
     "path": "{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/cancel",
     "httpMethod": "POST",
     "description": "Cancels an update. The update must be PAUSED before it can be cancelled. This has no effect if the update is already CANCELLED.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollingUpdate": {
       "type": "string",
       "description": "The name of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollingUpdate"
     ],
     "response": {
      "$ref": "Operation"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    },
    "get": {
     "id": "replicapoolupdater.rollingUpdates.get",
     "path": "{project}/zones/{zone}/rollingUpdates/{rollingUpdate}",
     "httpMethod": "GET",
     "description": "Returns information about an update.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollingUpdate": {
       "type": "string",
       "description": "The name of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollingUpdate"
     ],
     "response": {
      "$ref": "RollingUpdate"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/replicapool",
      "https://www.googleapis.com/auth/replicapool.readonly"
     ]
    },
    "insert": {
     "id": "replicapoolupdater.rollingUpdates.insert",
     "path": "{project}/zones/{zone}/rollingUpdates",
     "httpMethod": "POST",
     "description": "Inserts and starts a new update.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone"
     ],
     "request": {
      "$ref": "RollingUpdate"
     },
     "response": {
      "$ref": "Operation"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    },
    "list": {
     "id": "replicapoolupdater.rollingUpdates.list",
     "path": "{project}/zones/{zone}/rollingUpdates",
     "httpMethod": "GET",
     "description": "Lists recent updates for a given managed instance group, in reverse chronological order and paginated format.",
     "parameters": {
      "filter": {
       "type": "string",
       "description": "Optional. Filter expression for filtering listed resources.",
       "location": "query"
      },
      "maxResults": {
       "type": "integer",
       "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
       "default": "500",
       "format": "uint32",
       "minimum": "0",
       "maximum": "500",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
       "location": "query"
      },
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone"
     ],
     "response": {
      "$ref": "RollingUpdateList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/replicapool",
      "https://www.googleapis.com/auth/replicapool.readonly"
     ]
    },
    "listInstanceUpdates": {
     "id": "replicapoolupdater.rollingUpdates.listInstanceUpdates",
     "path": "{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/instanceUpdates",
     "httpMethod": "GET",
     "description": "Lists the current status for each instance within a given update.",
     "parameters": {
      "filter": {
       "type": "string",
       "description": "Optional. Filter expression for filtering listed resources.",
       "location": "query"
      },
      "maxResults": {
       "type": "integer",
       "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
       "default": "500",
       "format": "uint32",
       "minimum": "0",
       "maximum": "500",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
       "location": "query"
      },
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollingUpdate": {
       "type": "string",
       "description": "The name of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollingUpdate"
     ],
     "response": {
      "$ref": "InstanceUpdateList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/replicapool",
      "https://www.googleapis.com/auth/replicapool.readonly"
     ]
    },
    "pause": {
     "id": "replicapoolupdater.rollingUpdates.pause",
     "path": "{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/pause",
     "httpMethod": "POST",
     "description": "Pauses the update in state from ROLLING_FORWARD or ROLLING_BACK. Has no effect if invoked when the state of the update is PAUSED.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollingUpdate": {
       "type": "string",
       "description": "The name of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollingUpdate"
     ],
     "response": {
      "$ref": "Operation"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    },
    "resume": {
     "id": "replicapoolupdater.rollingUpdates.resume",
     "path": "{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/resume",
     "httpMethod": "POST",
     "description": "Continues an update in PAUSED state. Has no effect if invoked when the state of the update is ROLLED_OUT.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollingUpdate": {
       "type": "string",
       "description": "The name of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollingUpdate"
     ],
     "response": {
      "$ref": "Operation"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    },
    "rollback": {
     "id": "replicapoolupdater.rollingUpdates.rollback",
     "path": "{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/rollback",
     "httpMethod": "POST",
     "description": "Rolls back the update in state from ROLLING_FORWARD or PAUSED. Has no effect if invoked when the state of the update is ROLLED_BACK.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollingUpdate": {
       "type": "string",
       "description": "The name of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollingUpdate"
     ],
     "response": {
      "$ref": "Operation"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    }
   }
  },
  "rollout": {
   "methods": {
    "abandon": {
     "id": "replicapoolupdater.rollout.abandon",
     "path": "{project}/zones/{zone}/rollouts/{rollout}/abandon",
     "httpMethod": "POST",
     "description": "Abandon a rollout, leaving the IGM in the state it is already configured. This allows you to apply a new rollout to the IGM.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollout": {
       "type": "string",
       "description": "The ID of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollout"
     ],
     "response": {
      "$ref": "Rollout"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    },
    "commit": {
     "id": "replicapoolupdater.rollout.commit",
     "path": "{project}/zones/{zone}/rollouts/{rollout}/commit",
     "httpMethod": "POST",
     "description": "Commits a rollout, so that it is final and can not be rolled back",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollout": {
       "type": "string",
       "description": "The ID of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollout"
     ],
     "response": {
      "$ref": "Rollout"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    },
    "get": {
     "id": "replicapoolupdater.rollout.get",
     "path": "{project}/zones/{zone}/rollouts/{rollout}",
     "httpMethod": "GET",
     "description": "Get the details of a rollout",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollout": {
       "type": "string",
       "description": "The ID of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollout"
     ],
     "response": {
      "$ref": "Rollout"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/replicapool",
      "https://www.googleapis.com/auth/replicapool.readonly"
     ]
    },
    "insert": {
     "id": "replicapoolupdater.rollout.insert",
     "path": "{project}/zones/{zone}/rollouts",
     "httpMethod": "POST",
     "description": "Inserts and starts a new rollout",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "updatePolicyInitialisationMethod": {
       "type": "string",
       "description": "How the update policy should be initialised.",
       "enum": [
        "FROM_IGM",
        "FROM_PARENT"
       ],
       "enumDescriptions": [
        "",
        ""
       ],
       "location": "query"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone"
     ],
     "request": {
      "$ref": "Rollout"
     },
     "response": {
      "$ref": "Rollout"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    },
    "list": {
     "id": "replicapoolupdater.rollout.list",
     "path": "{project}/zones/{zone}/rollouts",
     "httpMethod": "GET",
     "description": "Resume a rollout. This lets the rollout continue updating instances after a pause.",
     "parameters": {
      "filter": {
       "type": "string",
       "description": "Optional. Filter expression for filtering listed resources.",
       "location": "query"
      },
      "maxResults": {
       "type": "integer",
       "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
       "default": "500",
       "format": "uint32",
       "minimum": "0",
       "maximum": "500",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
       "location": "query"
      },
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone"
     ],
     "response": {
      "$ref": "ListRolloutResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/replicapool",
      "https://www.googleapis.com/auth/replicapool.readonly"
     ]
    },
    "pause": {
     "id": "replicapoolupdater.rollout.pause",
     "path": "{project}/zones/{zone}/rollouts/{rollout}/pause",
     "httpMethod": "POST",
     "description": "Pause the application of a rollout. This stops the update, and the instances managed by the instance group manager do not change their instance templates.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollout": {
       "type": "string",
       "description": "The ID of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollout"
     ],
     "response": {
      "$ref": "Rollout"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    },
    "rampup": {
     "id": "replicapoolupdater.rollout.rampup",
     "path": "{project}/zones/{zone}/rollouts/{rollout}/rampup",
     "httpMethod": "POST",
     "description": "Change the amount of instances within an IGM that should be updated to the new instance template",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollout": {
       "type": "string",
       "description": "The ID of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollout"
     ],
     "request": {
      "$ref": "RampUpRolloutRequest"
     },
     "response": {
      "$ref": "Rollout"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    },
    "resume": {
     "id": "replicapoolupdater.rollout.resume",
     "path": "{project}/zones/{zone}/rollouts/{rollout}/resume",
     "httpMethod": "POST",
     "description": "Resume a rollout. This lets the rollout continue updating instances after a pause.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollout": {
       "type": "string",
       "description": "The ID of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollout"
     ],
     "response": {
      "$ref": "Rollout"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    },
    "rollback": {
     "id": "replicapoolupdater.rollout.rollback",
     "path": "{project}/zones/{zone}/rollouts/{rollout}/rollback",
     "httpMethod": "POST",
     "description": "Rollback a rollout, cancelling the update and changing all instances with the updated version to have the instanceTemplateToRollback template.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollout": {
       "type": "string",
       "description": "The ID of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollout"
     ],
     "response": {
      "$ref": "Rollout"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    }
   }
  },
  "zoneOperations": {
   "methods": {
    "get": {
     "id": "replicapoolupdater.zoneOperations.get",
     "path": "{project}/zones/{zone}/operations/{operation}",
     "httpMethod": "GET",
     "description": "Retrieves the specified zone-specific operation resource.",
     "parameters": {
      "operation": {
       "type": "string",
       "description": "Name of the operation resource to return.",
       "required": true,
       "location": "path"
      },
      "project": {
       "type": "string",
       "description": "Name of the project scoping this request.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "Name of the zone scoping this request.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "operation"
     ],
     "response": {
      "$ref": "Operation"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    },
    "list": {
     "id": "replicapoolupdater.zoneOperations.list",
     "path": "{project}/zones/{zone}/operations",
     "httpMethod": "GET",
     "description": "Retrieves the list of Operation resources contained within the specified zone.",
     "parameters": {
      "filter": {
       "type": "string",
       "description": "Optional. Filter expression for filtering listed resources.",
       "location": "query"
      },
      "maxResults": {
       "type": "integer",
       "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
       "default": "500",
       "format": "uint32",
       "minimum": "0",
       "maximum": "500",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
       "location": "query"
      },
      "project": {
       "type": "string",
       "description": "Name of the project scoping this request.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "Name of the zone scoping this request.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone"
     ],
     "response": {
      "$ref": "OperationList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    }
   }
  }
 }
}
