/*
 * Copyright 2007 Google Inc. All Rights Reserved.
 */

/*
Droid Sans has a bug in the size of its descenders:
they get cut off in Windows.
@import url("http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold");
*/

@font-face {
  font-family: Roboto;
  src: url('http://fonts.googleapis.com/css?family=Roboto');
}

body, html {
  height: 100%;
}

body {
  background-color: lightgrey;
  /* TODO(opensource): Change to commented version below once we're ready */
  background: url(images/squairy_light.png);
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

table td,
select {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
/* For the TOS Form*/
.floatingBox {
  width: 300px;
  height: 250px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.065);
  text-align: center;
  border: 1px #262626;
}

/*
 * Context menus
 */

.ode-ContextMenu {
  background-color: white;
}

.ode-ContextMenuItem,
.ode-CurrentColor {
  color: #555;
  cursor: pointer;
  padding-top: 3px;
  padding-left: 9px;
  padding-bottom: 3px;
  font-size: small;
}

.ode-ContextMenuItem {
  min-width: 50px;
  padding: 4px 12px;
  -o-transition:color .1s ease-out, background .1s ease-in;
  -ms-transition:color .1s ease-out, background .1s ease-in;
  -moz-transition:color .1s ease-out, background .1s ease-in;
  -webkit-transition:color .1s ease-out, background .1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .1s ease-out, background .1s ease-in;
}

.ode-ContextMenuItemSeparator {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.ode-CurrentColor {
  padding-left: 0px;
}

.ode-ContextMenuItem-selected {
  color: #ffffff;
  background: #99CC00;
}

.ode-ContextMenuItem-disabled {
  color: #999;
}

.ode-Box-content {
  font-size: 13px;
  background-color: #f7f9f2;
  /* TODO(opensource): Delete the background-image line below once we're ready */
  background-image: url(images/watermark.png);
  color: #555;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  margin: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.065);
}

.ode-Box-header {
  background: rgba(102, 153, 0, 0.3);
  height: 31px;
  border: 1px solid;
  border-color: #d2d2d2 #d2d2d2 #b0b2a7 #d2d2d2;
}

.ode-Box-header-caption,
.ode-Box-header-caption-highlighted {
  font-size: 13px;
  font-weight: bold;
  padding-top: 7px;
  padding-left: 9px;
}

.ode-Box-header-caption {
  color: #555;
}

.ode-Box-header-caption-highlighted {
  color: red; /* too strong, but use red for now */
}

.ode-Box-body {
}

.ode-Box-body-padding {
  padding: 6px;
}

.ode-BoxResizeControl {
  background-color: darkgray !important;
  /* Override glass panel to 90% opacity (= 10% transparency) */
  filter: alpha(opacity = 90) !important; /* IE */
  opacity: 0.9 !important; /* non-IE */
  padding: 10px;
}

/*
 * MessagesOutputBox
 */

.ode-MessagesOutput {
  background-color: white;
  font-size: small;
}

/*
 * MotdBox
 */

.ode-Motd {
  background-color: #f7f9f2;
  font-size: small;
  color: #555;
}

/*
 * ProjectList and CopyYoungAndroidProjectCommand.CopyProjectDialog
 */

.ode-ProjectNameLabel {
  font-weight: bold;
  font-size: small;
  color: #555;
  cursor: pointer;
}

.ode-ProjectTable {
  padding: 0px;
  margin: 0px;
  border: 1px;
}

.ode-ProjectTable td {
  border-collapse: collapse;
  font-size: small;
  color: #555;
  text-align: left;
  margin: 0px;
}

.ode-ProjectRowHighlighted {
  border-bottom: 1px solid #ddd;
  background-color: #fff6c3;
  border-collapse: collapse;
}

.ode-ProjectRowUnHighlighted {
  border-bottom: 1px solid #ddd;
  background-color: white
}

.ode-ProjectHeaderRow {
  background: url(images/toolbarBG.png) repeat;
  border: 1px;
  border-bottom: 1px solid #bbccff;
}

.ode-ProjectHeaderLabel {
  color: #112abb;
  font-size: 11px;
  cursor: pointer;
}

.ode-CheckpointProjectTable {
  border: 1px solid darkgray;
}

/*
 * TopPanel
 */


.ode-TopPanel {
  min-height: 40px;
  height: 40px;
  margin-bottom: 4px;
  padding-right: 4px;
  padding-left: 4px;
  background-color: #f2f2f2;
  background-image: -moz-linear-gradient(top, #f2f2f2, #f3f3f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #f3f3f3);
  background-image: -o-linear-gradient(top, #f2f2f2, #f3f3f3);
  background-image: linear-gradient(to bottom, #f2f2f2, #f3f3f3);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.ode-Logo {
  margin: 8px 4px 4px 4px;
  -webkit-filter: drop-shadow(0px 0px 1px #222);
  filter:         drop-shadow(0px 0px 1px #222);
}

.ode-Logo:hover {
  -webkit-filter: drop-shadow(0px 0px 3px #222);
  filter:         drop-shadow(0px 0px 3px #222);
}

.ode-LogoText {
  font-size: 16px;
  color: grey;
  font-weight: 500;
  text-shadow: 0px 0px 0px #404040;
}

.ode-LogoVersion {
  font-size: 12px;
  color: grey;
  text-shadow: 0px 0px 0px #404040;
}

.ode-TopPanelAccount {
  font-size: 15px;
  color: grey;
  padding: 4px 8px 4px 0;
}

.ode-TopPanelAccount a {
  color: #669900;
}

.ode-TopPanelAccount .linkdivider {
  color: #dedede;
}

.ode-TopPanelLinks .gwt-Label,
.ode-TopPanelLinks .gwt-Anchor,
.ode-TopPanelLinks .gwt-TitleLabel {
  cursor: pointer;
  color: rgb(100, 100, 100);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-right: 16px;
  text-decoration: none;
}

.ode-TopPanelLinks .gwt-Label:hover,
.ode-TopPanelLinks .gwt-Anchor:hover,
.ode-TopPanelLinks .gwt-TitleLabel:hover {
  text-shadow: 0px 0px 1px #BABABA;
}

.ode-TopPanelWarningLabel {
  color: #FF0000;
}

.ode-TopPanelLabel {
  color: #888;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.ode-TopPanelIconButton {
  margin: 4px 8px;
  cursor: pointer;
}

.ode-TopPanelIconButton:hover {
  -webkit-filter: drop-shadow(0px 0px 3px #222);
  filter:         drop-shadow(0px 0px 3px #222);
}

.ode-TopPanelIconButton:active {

}

.ode-TopPanelButton,
.ActionDropDown-Default,
.ActionDropDown-Options {
  font-size: 12px;
  cursor: pointer;
  margin: -12px 0px;
  padding: 0px 12px;
  height: 40px;
  border: transparent;
  background: transparent;
  color: grey;
  -o-transition:color .2s ease-out, background .2s ease-in;
  -ms-transition:color .2s ease-out, background .2s ease-in;
  -moz-transition:color .2s ease-out, background .2s ease-in;
  -webkit-transition:color .2s ease-out, background .2s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .2s ease-in;
}

.ode-TopPanelButton:hover,
.ActionDropDown-Default:hover
.ActionDropDown-Options:hover {
  background: #E6E6E6;
  color: #5B5B5B;
}

.ode-TopPanelButton:active
.ActionDropDown-Default:active
.ActionDropDown-Options:active {

}

.ActionDropDown-Default {
  padding: 0px 6px;
}

.ActionDropDown-Options {
  padding: 0px 6px;
}



/*
 * Deck Panel
 */

.ode-DeckPanel {
  margin: 4px 8px 8px;
}

.ode-NavArrow {
  border: transparent;
  background: #C2C2C2;
  -o-transition:color .2s ease-out, background .2s ease-in;
  -ms-transition:color .2s ease-out, background .2s ease-in;
  -moz-transition:color .2s ease-out, background .2s ease-in;
  -webkit-transition:color .2s ease-out, background .2s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .2s ease-in;}

.ode-NavArrow:hover {
  background-color: darkgray;
}



/*
 * StatusPanel
 */

.ode-StatusPanel {
  font-size: 12px;
  color: #888;
  padding: 4px 12px;
  background: url(images/toolbarBG.png) repeat;
  border: 1px;
  border-bottom: 1px solid #bbccff;
}

.ode-StatusPanel a {
  color: #888;
}

/*
 * Non-visible component panel
 */

.ya-NonVisibleComponentsHeader {
  font-size: 13px;
  font-weight: bold;
  color: #555;
  padding: 5px;
}

.ode-SimpleUiDesignerNonVisibleComponents .ode-Icon,
.ode-SimpleUiDesignerNonVisibleComponents .ode-Icon-selected {
  display: inline-table;
}

.ode-SimpleUiDesignerNonVisibleComponents .gwt-Label {
  font-size: 12px;
  color: #555;
}

.ode-Icon, .ode-Icon-selected {
  font-size: small;
  padding: 2px 4px 2px 4px;
}

.ode-Icon-selected {
  padding: 0 2px 0 2px;
  border: 2px solid #8fc202;
}

.gwt-TabBar {
  margin: 5px 0px 5px 0px;
}

.gwt-TabBar .gwt-TabBarFirst {
  width: 0px;
}

.gwt-TabBar .gwt-TabBarItem {
  margin: 0px 5px 0px 0px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  color: black;
  font-size: 13px;
  text-align: center;
  background-color: #eef2e0;
  border: 2px solid #d2e0a6;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  cursor: default;
  background-color: #8fc202;
  border: 2px solid #8fc202;
}

.gwt-RadioButton {
  font-size: small;
}

.gwt-VerticalSplitPanel, gwt-HorizontalSplitPanel {
  background: white;
}

.gwt-TextBox {
  padding: 0px !important;
  margin: 0px !important;
}

.gwt-Tree .gwt-TreeItem span * {
  margin: 0 2px;
}

.gwt-Tree .gwt-TreeItem {
  font-size: 12px;
  color: #555;
  cursor: default;
}

.gwt-Tree .gwt-TreeItem span {
  padding: 8px 4px 4px 4px;
}

.gwt-Tree .gwt-TreeItem-selected span {
  background-color: #d2e0a6;
}

/* Young Android Toolbar */

.ya-Toolbar {
  background-color: #8fc202;
  margin-bottom: 4px;
}

.ya-Toolbar .ya-ProjectName {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-top: 8px;
  padding-left: 8px;
  pqeeint-bottom: 8px;
  text-shadow: 0px 0px 1px #404040;
}

.ode-TextButton,
.gwt-Button {
  display: inline-block;
  *display: inline;
  padding: 2px 6px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ode-TextButton[disabled],
.gwt-Button[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ode-TextButton:hover,
.gwt-Button:hover {
  color: #333333;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.ode-TextButton:active,
.gwt-Button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ya-Toolbar .ode-TextButton {
  font-size: 11px;
}

.ode-PanelButtons .ode-TextButton {
  font-size: 12px;
}

.ode-BlocksDesignerButton {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.ode-BlocksDesignerButton:hover,
.ode-BlocksDesignerButon:disabled {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

/* Palette */

.gwt-StackPanelItem div {
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  background-color: #eef2e0;
  font-size: 13px;
  cursor: pointer;
  height: 14px;
  color: #555;
  padding: 8px 16px;
}

.gwt-StackPanelItem-selected div {
  font-weight: bold;
}

.gwt-StackPanelContent {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 8px;
}

/* Overrides for gwt.css */
.gwt-StackPanel .gwt-StackPanelContent {
  padding: 8px 4px 8px 8px;
}
.gwt-StackPanel .gwt-StackPanelItem {
  padding: 0px;
  border: 0px;
}


.ode-SimplePaletteItem {
  background-color: white; /* needed on Firefox */
  height: 15px;
  cursor: pointer;
  padding-bottom: 10px;
}

.ode-SimplePaletteItem-caption {
  font-size: 12px;
  color: #555;
}

.gwt-SimplePanel {
  border: 1px solid #67A7E3;
  background-color: white;
}

.ode-ExplorerContent {
  height: 100%;
  padding: 0 1ex;
  border-left: 1px solid #D6E9F8;
  border-right: 1px solid #D6E9F8;
  font-size: small;
}

.ode-CollapsiblePanelExpanded {
  background-color: #D6E9F8;
}

.ode-CollapsiblePanelCollapsedLeft {
  background-color: #D6E9F8;
  margin-right: 2px;
}

.ode-CollapsiblePanelCollapsedBottom {
  background-color: #D6E9F8;
  margin-top: 2px;
}

.ode-CollapsiblePanelTitle {
  background-color: #D6E9F8;
  color: black;
  font-size: small;
  margin-bottom: 2px;
}

.ode-HeaderPanel {
  width: 100%;
  border: 1px solid #D6E9F8;
  background-color: white;
}

.ode-HeaderPanelTitleBar {
  background-color: #D6E9F8;
  color: black;
  font-size: small;
}

.ode-PropertiesPanel {
  background-color: #f7f9f2;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
}

.ode-PropertiesPanel td {
  color: #555;
  font-size: 12px;
}

.ode-PropertiesComponentName {
  background-color: #eef2e0;
  color: #555;
  font-size: 13px;
  border-bottom: 1px solid #d2d2d2;
  padding: 9px 9px 8px 10px;
}

.ode-PropertyLabel {
  padding-top: 10px;
  padding-left: 2px;
  padding-bottom: 1px;
}

.ode-PropertyEditor {
}

select.ode-PropertyEditor[disabled] {
  background-color: #aaaaaa;
}

.ode-MultipleChoicePropertyEditor {
  min-width: 150px;
  background-color: white;
  font-size: small;
  color: black;
  border: 1px solid gray;
  padding: 2px;
}

.ode-ColorChoicePropertyEditor {
  background-color: white;
  font-size: small;
  border: 1px solid darkgray;
  cursor: hand;
}

.ode-SimpleFormDesigner {
  padding: 2px;
}

.ode-SimpleFormDesigner .gwt-CheckBox {
  font-size: 12px;
}

.ode-SimpleMockForm {
  background-color: #d2e0a6;
  border: 2px solid black;
}

.ode-SimpleMockForm-selected {
  border: 2px solid #8fc202;
}

.ode-SimpleMockFormTitleBar {
  background-color: dimgray;
  border-bottom: 1px solid lightgray;
}

.ode-SimpleMockFormPhoneBar {
  background-color: #000000;
}

.ode-SimpleMockFormTitle {
  color: white;
  font-size: 90%;
}

.ode-SimpleMockContainer {
  background-color: transparent;
  border: 2px solid black;
}

.ode-SimpleMockContainer-selected {
  border: 2px solid #8fc202;
}

.ode-SimpleMockComponent {
  font-weight: normal;
  font-size: 12px;
  border: 2px solid transparent;
}

.ode-SimpleMockComponent-disabled {
  color: gray;
}

.ode-SimpleMockComponent-selected {
  border: 2px solid #8fc202;
}

.ode-SimpleMockContainer-centerContents {
  text-align: center;
}

.ode-SimpleMockButton {
  /* When updating this color also update MockButtonBase.setBackgroundColorProperty() */
  background-color: #E8E8E8;
}

/* class for the ListView Mock component */
.listViewComponentStyle {
  width: 315px;
  display: block;
  overflow: auto;
}

.listViewItemStyle {
  border-bottom: 1px solid gray;
  min-height: 40px;
  display: table-cell;
  vertical-align: middle;
}

/* class for the ListView Mock component */
.spinnerComponentStyle {
  outline: 1px solid lightgray;
}

/* class for the Image Mock component */
.imageComponentCenterPanel {
  text-align: center;
}

/* Component Help */

.ode-ComponentHelpPopup {
  background-color: white;
  border-left: 4px solid #8fc202;
  border-right: 4px solid #8fc202;
  border-bottom: 4px solid #8fc202;
  width: 20%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.065);
}

.ode-ComponentHelpPopup-TitleBar {
  background-color: #8fc202;
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding: 5px 10px;
}

.ode-ComponentHelpPopup-Body {
  padding: 10px;
  color: #555;
  font-size: 12px;
}

.ode-ComponentHelpPopup-Link {
  padding: 0px 10px 10px 10px;
  font-size: 12px;

}
.ode-ComponentHelpPopup-Link a {
  color: #8fc202;
}

.compiler-ErrorMarker {
  color: red;
}

.compiler-WarningMarker {
  color: orange;
}

.centered {
  text-align: center;
  align: center;
}

.hsplitter, .vsplitter {
  background-color: #D6E9F8;
}

.ode-RpcStatusMessage .popupMiddleCenterInner {
  font-weight: bold;
  font-size: small;
  padding: 2px 2px 0px 2px;
}

.ode-RpcStatusMessage .popupMiddleLeft,
.ode-RpcStatusMessage .popupMiddleCenter,
.ode-RpcStatusMessage .popupMiddleRight,
.ode-RpcStatusMessage .popupBottomCenter {
  background-color: #FFF1A8;
}

.ode-RpcStatusMessage .popupBottomLeft {
  width: 4px;
  height: 4px;
  background: url(images/rpcMessageCorners.png) no-repeat 0px -4px;
}

.ode-RpcStatusMessage .popupBottomRight {
  width: 4px;
  height: 4px;
  background: url(images/rpcMessageCorners.png) no-repeat -4px -4px;
}

.ode-ErrorMessage {
  color: #FF4444;
  font-weight: bold;
  font-size: 13px;
  margin: 8px 16px;
}

.ode-InfoMessage {
  font-weight: bold;
  font-size: 13px;
  margin: 8px 16px;
  color: #2d2d2d;
}

.ode-GroupedList .Header {
  margin-top: 3px;
}

.ode-GroupedList .Header td {
  padding: 2px 5px;
  font-weight: bold;
  background: #eee;
}

.ode-GroupedList .HeaderDescription {
  font-weight: normal;
  font-size: x-small;
  font-style: italic;
}

.ode-GroupedList .Item td {
  padding: 2px 10px;
}

.ode-DPsLabel {
  padding-left: 4px;
  font-size: small;
}

/* All dialog boxes */
/* would pop more with a white border around their normal green border */

.ode-DialogBox {
  background-color: white;
  border-left: 4px solid #8fc202;
  border-right: 4px solid #8fc202;
  border-bottom: 4px solid #8fc202;
}

.ode-DialogBox .gwt-CheckBox {
  font-size: 12px;
}

.ode-DialogBox .gwt-CheckBox label {
  padding-left: 4px;
}

.ode-DialogBox .gwt-CheckBox input[type="checkbox"] {
  margin: 0;
  padding-left: 4px;
}

.ode-DialogBox .dialogTop {
  background-color: #8fc202;
}

.ode-DialogBox .Caption {
  background-color: #8fc202;
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding: 5px 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.065);

}

.ode-DialogBox .dialogContent {
  padding: 5px 10px;
}

.ode-DialogBox .dialogContent td {
  padding: 2px 10px;
  font-size: 12px;
  color: #555;
}

.ode-DialogBox .gwt-Button {
  margin: 10px;
}

/* Settings dialog boxes */

.ode-Settings {
  min-width: 320px;
  min-height: 160px;
}

/* AndroidServlet */

.ode-Android-banner {
  text-align: large;
  font-weight: bold;
}

.ode-Android-header {
  font-size: small;
  text-align: right;
}

.ode-Android-caption {
  background-color: #8fc202;
  color: white;
  font-size: medium;
}

.ode-Android-body {
  font-size: medium;
}

.ode-Android-footer {
  height: 12px;
  font-size: x-small;
  text-align: center;
  background-color: #D6E9F8;
  color: black;
  padding: 4px;
}

.gwt-ProgressBar-shell {
  border: 2px solid #faf9f7;
  border-right: 2px solid #848280;
  border-bottom: 2px solid #848280;
  background-color: #AAAAAA;
  height: 30pt;
  width: 100%;
}
.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
  background-color: #8fc202;
}
.gwt-ProgressBar-shell .gwt-ProgressBar-text {
  position: absolute;
  top:0; left:0;
  padding-top: 10px;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size:large;
}

/*
 * PopupPanel
 */

.gwt-PopupPanel {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/*
 * Bootstrap Inputs
 */

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 2px 6px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

input,
textarea,
.uneditable-input {
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  font-size: 10px
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

select {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.uneditable-input,
.uneditable-textarea {
  color: #999999;
  cursor: not-allowed;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}

.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}

.uneditable-textarea {
  width: auto;
  height: auto;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

.radio,
.checkbox {
  min-height: 20px;
  padding-left: 20px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
