<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>java-v1</servlet-name>
    <servlet-class>
      com.google.appengine.demos.shardedcounter.java.v1.CounterPage
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>java-v2</servlet-name>
    <servlet-class>
      com.google.appengine.demos.shardedcounter.java.v2.CounterPage
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jdo-v1</servlet-name>
    <servlet-class>
      com.google.appengine.demos.shardedcounter.jdo.v1.CounterPage
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jdo-v2</servlet-name>
    <servlet-class>
      com.google.appengine.demos.shardedcounter.jdo.v2.CounterPage
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jdo-v3</servlet-name>
    <servlet-class>
      com.google.appengine.demos.shardedcounter.jdo.v3.CounterPage
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>java-v1</servlet-name>
    <url-pattern>/java-v1/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>java-v2</servlet-name>
    <url-pattern>/java-v2/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jdo-v1</servlet-name>
    <url-pattern>/jdo-v1/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jdo-v2</servlet-name>
    <url-pattern>/jdo-v2/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jdo-v3</servlet-name>
    <url-pattern>/jdo-v3/</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>

