<component name="libraryTable">
  <library name="server">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/appinventor/appengine/tests/com/google/appinventor/server/Buggy.zip!/" />
      <root url="jar://$PROJECT_DIR$/appinventor/appengine/tests/com/google/appinventor/server/NotAValidProjectArchive.zip!/" />
      <root url="jar://$PROJECT_DIR$/appinventor/appengine/tests/com/google/appinventor/server/ProjectWithAssets.zip!/" />
      <root url="jar://$PROJECT_DIR$/appinventor/appengine/tests/com/google/appinventor/server/EmptyZip.zip!/" />
      <root url="jar://$PROJECT_DIR$/appinventor/appengine/tests/com/google/appinventor/server/Project1.zip!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>