{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "iam:v1",
  "name": "iam",
  "canonicalName": "iam",
  "version": "v1",
  "revision": "0",
  "title": "Identity and Access Management (IAM) API",
  "description": "Manages identity and access control for Google Cloud Platform resources, including the creation of service accounts, which you can use to authenticate to Google and make API calls.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/iam/",
  "protocol": "rest",
  "rootUrl": "https://iam.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://iam.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ListServiceAccountsResponse": {
      "id": "ListServiceAccountsResponse",
      "description": "The service account list response.",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "The list of matching service accounts.",
          "type": "array",
          "items": {
            "$ref": "ServiceAccount"
          }
        },
        "nextPageToken": {
          "description": "To retrieve the next page of results, set\nListServiceAccountsRequest.page_token\nto this value.",
          "type": "string"
        }
      }
    },
    "ServiceAccount": {
      "id": "ServiceAccount",
      "description": "A service account in the Identity and Access Management API.\n\nTo create a service account, specify the `project_id` and the `account_id`\nfor the account.  The `account_id` is unique within the project, and is used\nto generate the service account email address and a stable\n`unique_id`.\n\nIf the account already exists, the account's resource name is returned\nin the format of projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}. The caller\ncan use the name in other methods to access the account.\n\nAll other methods can identify the service account using the format\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`.\nUsing `-` as a wildcard for the `PROJECT_ID` will infer the project from\nthe account. The `ACCOUNT` value can be the `email` address or the\n`unique_id` of the service account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the service account in the following format:\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`.\n\nRequests using `-` as a wildcard for the `PROJECT_ID` will infer the\nproject from the `account` and the `ACCOUNT` value can be the `email`\naddress or the `unique_id` of the service account.\n\nIn responses the resource name will always be in the format\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`.",
          "type": "string"
        },
        "projectId": {
          "description": "@OutputOnly The id of the project that owns the service account.",
          "type": "string"
        },
        "uniqueId": {
          "description": "@OutputOnly The unique and stable id of the service account.",
          "type": "string"
        },
        "email": {
          "description": "@OutputOnly The email address of the service account.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. A user-specified name for the service account.\nMust be less than or equal to 100 UTF-8 bytes.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. Note: `etag` is an inoperable legacy field that is only returned\nfor backwards compatibility.",
          "type": "string",
          "format": "byte"
        },
        "description": {
          "description": "Optional. A user-specified opaque description of the service account.\nMust be less than or equal to 256 UTF-8 bytes.",
          "type": "string"
        },
        "oauth2ClientId": {
          "description": "@OutputOnly The OAuth2 client id for the service account.\nThis is used in conjunction with the OAuth2 clientconfig API to make\nthree legged OAuth2 (3LO) flows to access the data of Google users.",
          "type": "string"
        }
      }
    },
    "CreateServiceAccountRequest": {
      "id": "CreateServiceAccountRequest",
      "description": "The service account create request.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Required. The account id that is used to generate the service account\nemail address and a stable unique id. It is unique within a project,\nmust be 6-30 characters long, and match the regular expression\n`[a-z]([-a-z0-9]*[a-z0-9])` to comply with RFC1035.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The ServiceAccount resource to create.\nCurrently, only the following values are user assignable:\n`display_name` .",
          "$ref": "ServiceAccount"
        }
      }
    },
    "PatchServiceAccountRequest": {
      "id": "PatchServiceAccountRequest",
      "description": "The patch service account request.",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "$ref": "ServiceAccount"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "ListServiceAccountKeysResponse": {
      "id": "ListServiceAccountKeysResponse",
      "description": "The service account keys list response.",
      "type": "object",
      "properties": {
        "keys": {
          "description": "The public keys for the service account.",
          "type": "array",
          "items": {
            "$ref": "ServiceAccountKey"
          }
        }
      }
    },
    "ServiceAccountKey": {
      "id": "ServiceAccountKey",
      "description": "Represents a service account key.\n\nA service account has two sets of key-pairs: user-managed, and\nsystem-managed.\n\nUser-managed key-pairs can be created and deleted by users.  Users are\nresponsible for rotating these keys periodically to ensure security of\ntheir service accounts.  Users retain the private key of these key-pairs,\nand Google retains ONLY the public key.\n\nSystem-managed keys are automatically rotated by Google, and are used for\nsigning for a maximum of two weeks. The rotation process is probabilistic,\nand usage of the new key will gradually ramp up and down over the key's\nlifetime. We recommend caching the public key set for a service account for\nno more than 24 hours to ensure you have access to the latest keys.\n\nPublic keys for all service accounts are also published at the OAuth2\nService Account API.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the service account key in the following format\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}\/keys\/{key}`.",
          "type": "string"
        },
        "privateKeyType": {
          "description": "The output format for the private key.\nOnly provided in `CreateServiceAccountKey` responses, not\nin `GetServiceAccountKey` or `ListServiceAccountKey` responses.\n\nGoogle never exposes system-managed private keys, and never retains\nuser-managed private keys.",
          "enumDescriptions": [
            "Unspecified. Equivalent to `TYPE_GOOGLE_CREDENTIALS_FILE`.",
            "PKCS12 format.\nThe password for the PKCS12 file is `notasecret`.\nFor more information, see https:\/\/tools.ietf.org\/html\/rfc7292.",
            "Google Credentials File format."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PKCS12_FILE",
            "TYPE_GOOGLE_CREDENTIALS_FILE"
          ]
        },
        "keyAlgorithm": {
          "description": "Specifies the algorithm (and possibly key size) for the key.",
          "enumDescriptions": [
            "An unspecified key algorithm.",
            "1k RSA Key.",
            "2k RSA Key."
          ],
          "type": "string",
          "enum": [
            "KEY_ALG_UNSPECIFIED",
            "KEY_ALG_RSA_1024",
            "KEY_ALG_RSA_2048"
          ]
        },
        "privateKeyData": {
          "description": "The private key data. Only provided in `CreateServiceAccountKey`\nresponses. Make sure to keep the private key data secure because it\nallows for the assertion of the service account identity.\nWhen base64 decoded, the private key data can be used to authenticate with\nGoogle API client libraries and with\n<a href=\"\/sdk\/gcloud\/reference\/auth\/activate-service-account\">gcloud\nauth activate-service-account<\/a>.",
          "type": "string",
          "format": "byte"
        },
        "publicKeyData": {
          "description": "The public key data. Only provided in `GetServiceAccountKey` responses.",
          "type": "string",
          "format": "byte"
        },
        "validAfterTime": {
          "description": "The key can be used after this timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "validBeforeTime": {
          "description": "The key can be used before this timestamp.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "CreateServiceAccountKeyRequest": {
      "id": "CreateServiceAccountKeyRequest",
      "description": "The service account key create request.",
      "type": "object",
      "properties": {
        "privateKeyType": {
          "description": "The output format of the private key. The default value is\n`TYPE_GOOGLE_CREDENTIALS_FILE`, which is the Google Credentials File\nformat.",
          "enumDescriptions": [
            "Unspecified. Equivalent to `TYPE_GOOGLE_CREDENTIALS_FILE`.",
            "PKCS12 format.\nThe password for the PKCS12 file is `notasecret`.\nFor more information, see https:\/\/tools.ietf.org\/html\/rfc7292.",
            "Google Credentials File format."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PKCS12_FILE",
            "TYPE_GOOGLE_CREDENTIALS_FILE"
          ]
        },
        "keyAlgorithm": {
          "description": "Which type of key and algorithm to use for the key.\nThe default is currently a 2K RSA key.  However this may change in the\nfuture.",
          "enumDescriptions": [
            "An unspecified key algorithm.",
            "1k RSA Key.",
            "2k RSA Key."
          ],
          "type": "string",
          "enum": [
            "KEY_ALG_UNSPECIFIED",
            "KEY_ALG_RSA_1024",
            "KEY_ALG_RSA_2048"
          ]
        }
      }
    },
    "ServiceAccountIdentityBinding": {
      "id": "ServiceAccountIdentityBinding",
      "description": "Represents a service account identity provider reference.\n\nA service account has at most one identity binding for the EAP.\n\nThis is an alternative to service account keys and enables the service\naccount to be configured to trust an external IDP through the provided\nidentity binding.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the service account identity binding in the following\nformat\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}\/identityBindings\/{BINDING}`.",
          "type": "string"
        },
        "oidc": {
          "description": "OIDC with discovery.",
          "$ref": "IDPReferenceOIDC"
        },
        "acceptanceFilter": {
          "description": "A CEL expression that is evaluated to determine whether a credential should\nbe accepted. To accept any credential, specify \"true\". See:\nhttps:\/\/github.com\/google\/cel-spec .\nThis field supports a subset of the CEL functionality to select fields and\nevaluate boolean expressions based on the input (no functions or\narithmetics).\nThe values for input claims are available using `inclaim.attribute_name`\nor `inclaim[\\\"attribute_name\\\"]`.\nThe values for output attributes calculated by the translator are available\nusing `outclaim.attribute_name` or `outclaim[\\\"attribute_name\\\"]`.",
          "type": "string"
        },
        "cel": {
          "description": "A set of output attributes and corresponding input attribute expressions.",
          "$ref": "AttributeTranslatorCEL"
        }
      }
    },
    "IDPReferenceOIDC": {
      "id": "IDPReferenceOIDC",
      "description": "Represents a reference to an OIDC provider.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The OpenID Connect URL. To use this Identity Binding, JWT 'iss' field\nshould match this field.",
          "type": "string"
        },
        "audience": {
          "description": "Optional. The acceptable audience. Default is the unique_id of the Service\nAccount.",
          "type": "string"
        },
        "maxTokenLifetimeSeconds": {
          "description": "This optional field allows enforcing a maximum lifetime for tokens.\nUsing a lifetime that is as short as possible improves security since\nit prevents use of exfiltrated tokens after a certain amount of time.\nAll tokens must specify both exp and iat or they will be rejected.\nIf \"nbf\" is present we will reject tokens that are not yet valid.\nExpiration and lifetime will be enforced in the following way:\n- \"exp\" > \"current time\" is always required (expired tokens are rejected)\n- \"iat\" < \"current time\" + 300 seconds is required (tokens from the future\n.      are rejected although a small amount of clock skew is tolerated).\n- If max_token_lifetime_seconds is set:\n       \"exp\"  - \"iat\" < max_token_lifetime_seconds will be checked\n- The default is otherwise to accept a max_token_lifetime_seconds of 3600\n(1 hour)",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "AttributeTranslatorCEL": {
      "id": "AttributeTranslatorCEL",
      "description": "Specifies a list of output attribute names and the corresponding input\nattribute to use for that output attribute. Each defined output attribute\nis populated with the value of the specified input attribute.",
      "type": "object",
      "properties": {
        "attributes": {
          "description": "Each entry specifies the desired output attribute and a CEL field selector\nexpression for the corresponding input to read.\nThis field supports a subset of the CEL functionality to select fields from\nthe input (no boolean expressions, functions or arithmetics).\n\nOutput attributes must match `(google.sub|a-z_*)`.\n\nThe output attribute google.sub is interpreted to be the \"identity\" of\nthe requesting user.\n\nFor example, to copy the inbound attribute \"sub\" into the output\n`google.sub` add an entry `google.sub` -> `inclaim.sub` or\n`google.sub` -> `inclaim[\\\"sub\\\"]`.\n\nSee https:\/\/github.com\/google\/cel-spec for more details.\n\nIf the input does not exist the output attribute will be null.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CreateServiceAccountIdentityBindingRequest": {
      "id": "CreateServiceAccountIdentityBindingRequest",
      "description": "The service account identity binding create request.",
      "type": "object",
      "properties": {
        "oidc": {
          "description": "An OIDC reference with Discovery.",
          "$ref": "IDPReferenceOIDC"
        },
        "acceptanceFilter": {
          "description": "A CEL expression that is evaluated to determine whether a credential should\nbe accepted. To accept any credential, specify \"true\". See:\nhttps:\/\/github.com\/google\/cel-spec .\nThe input claims are available using \"inclaim[\\\"attribute_name\\\"]\".\nThe output attributes calculated by the translator are available using\n\"outclaim[\\\"attribute_name\\\"]\"",
          "type": "string"
        },
        "cel": {
          "description": "A set of output attributes and corresponding input attribute names.",
          "$ref": "AttributeTranslatorCEL"
        }
      }
    },
    "ListServiceAccountIdentityBindingsResponse": {
      "id": "ListServiceAccountIdentityBindingsResponse",
      "description": "The service account identity bindings list response.",
      "type": "object",
      "properties": {
        "identityBinding": {
          "description": "The identity bindings trusted to assert the service account.",
          "type": "array",
          "items": {
            "$ref": "ServiceAccountIdentityBinding"
          }
        }
      }
    },
    "SignBlobRequest": {
      "id": "SignBlobRequest",
      "description": "The service account sign blob request.",
      "type": "object",
      "properties": {
        "bytesToSign": {
          "description": "The bytes to sign.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "SignBlobResponse": {
      "id": "SignBlobResponse",
      "description": "The service account sign blob response.",
      "type": "object",
      "properties": {
        "keyId": {
          "description": "The id of the key used to sign the blob.",
          "type": "string"
        },
        "signature": {
          "description": "The signed blob.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "SignJwtRequest": {
      "id": "SignJwtRequest",
      "description": "The service account sign JWT request.",
      "type": "object",
      "properties": {
        "payload": {
          "description": "The JWT payload to sign, a JSON JWT Claim set.",
          "type": "string"
        }
      }
    },
    "SignJwtResponse": {
      "id": "SignJwtResponse",
      "description": "The service account sign JWT response.",
      "type": "object",
      "properties": {
        "keyId": {
          "description": "The id of the key used to sign the JWT.",
          "type": "string"
        },
        "signedJwt": {
          "description": "The signed JWT.",
          "type": "string"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "Defines an Identity and Access Management (IAM) policy. It is used to\nspecify access control policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`. A `binding` binds a list of\n`members` to a `role`, where the members can be user accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named list of permissions\ndefined by IAM.\n\n**JSON Example**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles\/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-other-app@appspot.gserviceaccount.com\"\n          ]\n        },\n        {\n          \"role\": \"roles\/viewer\",\n          \"members\": [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\n**YAML Example**\n\n    bindings:\n    - members:\n      - user:mike@example.com\n      - group:admins@example.com\n      - domain:google.com\n      - serviceAccount:my-other-app@appspot.gserviceaccount.com\n      role: roles\/owner\n    - members:\n      - user:sean@example.com\n      role: roles\/viewer\n\n\nFor a description of IAM and its features, see the\n[IAM developer's guide](https:\/\/cloud.google.com\/iam\/docs).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Deprecated.",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`.\n`bindings` with no members will result in an error.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the existing\npolicy is overwritten blindly.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@gmail.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n\n* `domain:{domain}`: A Google Apps domain name that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "Unimplemented. The condition that is associated with this binding.\nNOTE: an unsatisfied condition will not allow user access via current\nbinding. Different bindings, including their conditions, are examined\nindependently.",
          "$ref": "Expr"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents an expression text. Example:\n\n    title: \"User account presence\"\n    description: \"Determines whether the request has a user account\"\n    expression: \"size(request.user) > 0\"",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in\nCommon Expression Language syntax.\n\nThe application context of the containing message determines which\nwell-known feature set of CEL is supported.",
          "type": "string"
        },
        "title": {
          "description": "An optional title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.",
          "type": "string"
        },
        "description": {
          "description": "An optional description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "An optional string indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service.\nThe configuration determines which permission types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service,\nthe union of the two AuditConfigs is used for that service: the log_types\nspecified in each AuditConfig are enabled, and the exempted_members in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n    {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n              \"exempted_members\": [\n                \"user:foo@gmail.com\"\n              ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n            },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n          ]\n        },\n        {\n          \"service\": \"fooservice.googleapis.com\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\": [\n                \"user:bar@gmail.com\"\n              ]\n            }\n          ]\n        }\n      ]\n    }\n\nFor fooservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ\nlogging. It also exempts foo@gmail.com from DATA_READ logging, and\nbar@gmail.com from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`, `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:foo@gmail.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\nfoo@gmail.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only\nthe fields in the mask will be modified. If no mask is provided, the\nfollowing default mask is used:\npaths: \"bindings, etag\"\nThis field is only used by Cloud IAM.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https:\/\/cloud.google.com\/iam\/docs\/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "QueryGrantableRolesRequest": {
      "id": "QueryGrantableRolesRequest",
      "description": "The grantable role query request.",
      "type": "object",
      "properties": {
        "fullResourceName": {
          "description": "Required. The full resource name to query from the list of grantable roles.\n\nThe name follows the Google Cloud Platform resource format.\nFor example, a Cloud Platform project with id `my-project` will be named\n`\/\/cloudresourcemanager.googleapis.com\/projects\/my-project`.",
          "type": "string"
        },
        "view": {
          "enumDescriptions": [
            "Omits the `included_permissions` field.\nThis is the default value.",
            "Returns all fields."
          ],
          "type": "string",
          "enum": [
            "BASIC",
            "FULL"
          ]
        },
        "pageSize": {
          "description": "Optional limit on the number of roles to include in the response.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "Optional pagination token returned in an earlier\nQueryGrantableRolesResponse.",
          "type": "string"
        }
      }
    },
    "QueryGrantableRolesResponse": {
      "id": "QueryGrantableRolesResponse",
      "description": "The grantable role query response.",
      "type": "object",
      "properties": {
        "roles": {
          "description": "The list of matching roles.",
          "type": "array",
          "items": {
            "$ref": "Role"
          }
        },
        "nextPageToken": {
          "description": "To retrieve the next page of results, set\n`QueryGrantableRolesRequest.page_token` to this value.",
          "type": "string"
        }
      }
    },
    "Role": {
      "id": "Role",
      "description": "A role in the Identity and Access Management API.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the role.\n\nWhen Role is used in CreateRole, the role name must not be set.\n\nWhen Role is used in output and other input such as UpdateRole, the role\nname is the complete path, e.g., roles\/logging.viewer for curated roles\nand organizations\/{ORGANIZATION_ID}\/roles\/logging.viewer for custom roles.",
          "type": "string"
        },
        "title": {
          "description": "Optional.  A human-readable title for the role.  Typically this\nis limited to 100 UTF-8 bytes.",
          "type": "string"
        },
        "description": {
          "description": "Optional.  A human-readable description for the role.",
          "type": "string"
        },
        "includedPermissions": {
          "description": "The names of the permissions this role grants when bound in an IAM policy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "stage": {
          "description": "The current launch stage of the role. If the `ALPHA` launch stage has been\nselected for a role, the `stage` field will not be included in the\nreturned definition for the role.",
          "enumDescriptions": [
            "The user has indicated this role is currently in an Alpha phase. If this\nlaunch stage is selected, the `stage` field will not be included when\nrequesting the definition for a given role.",
            "The user has indicated this role is currently in a Beta phase.",
            "The user has indicated this role is generally available.",
            "The user has indicated this role is being deprecated.",
            "This role is disabled and will not contribute permissions to any members\nit is granted to in policies.",
            "The user has indicated this role is currently in an EAP phase."
          ],
          "type": "string",
          "enum": [
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED",
            "DISABLED",
            "EAP"
          ]
        },
        "etag": {
          "description": "Used to perform a consistent read-modify-write.",
          "type": "string",
          "format": "byte"
        },
        "deleted": {
          "description": "The current deleted state of the role. This field is read only.\nIt will be ignored in calls to CreateRole and UpdateRole.",
          "type": "boolean"
        }
      }
    },
    "ListRolesResponse": {
      "id": "ListRolesResponse",
      "description": "The response containing the roles defined under a resource.",
      "type": "object",
      "properties": {
        "roles": {
          "description": "The Roles defined on this resource.",
          "type": "array",
          "items": {
            "$ref": "Role"
          }
        },
        "nextPageToken": {
          "description": "To retrieve the next page of results, set\n`ListRolesRequest.page_token` to this value.",
          "type": "string"
        }
      }
    },
    "CreateRoleRequest": {
      "id": "CreateRoleRequest",
      "description": "The request to create a new role.",
      "type": "object",
      "properties": {
        "roleId": {
          "description": "The role id to use for this role.",
          "type": "string"
        },
        "role": {
          "description": "The Role resource to create.",
          "$ref": "Role"
        }
      }
    },
    "UndeleteRoleRequest": {
      "id": "UndeleteRoleRequest",
      "description": "The request to undelete an existing role.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Used to perform a consistent read-modify-write.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "QueryTestablePermissionsRequest": {
      "id": "QueryTestablePermissionsRequest",
      "description": "A request to get permissions which can be tested on a resource.",
      "type": "object",
      "properties": {
        "fullResourceName": {
          "description": "Required. The full resource name to query from the list of testable\npermissions.\n\nThe name follows the Google Cloud Platform resource format.\nFor example, a Cloud Platform project with id `my-project` will be named\n`\/\/cloudresourcemanager.googleapis.com\/projects\/my-project`.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional limit on the number of permissions to include in the response.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "Optional pagination token returned in an earlier\nQueryTestablePermissionsRequest.",
          "type": "string"
        }
      }
    },
    "QueryTestablePermissionsResponse": {
      "id": "QueryTestablePermissionsResponse",
      "description": "The response containing permissions which can be tested on a resource.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The Permissions testable on the requested resource.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "nextPageToken": {
          "description": "To retrieve the next page of results, set\n`QueryTestableRolesRequest.page_token` to this value.",
          "type": "string"
        }
      }
    },
    "Permission": {
      "id": "Permission",
      "description": "A permission which can be included by a role.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this Permission.",
          "type": "string"
        },
        "title": {
          "description": "The title of this Permission.",
          "type": "string"
        },
        "description": {
          "description": "A brief description of what this Permission is used for.",
          "type": "string"
        },
        "onlyInPredefinedRoles": {
          "description": "This permission can ONLY be used in predefined roles.",
          "type": "boolean"
        },
        "stage": {
          "description": "The current launch stage of the permission.",
          "enumDescriptions": [
            "The permission is currently in an alpha phase.",
            "The permission is currently in a beta phase.",
            "The permission is generally available.",
            "The permission is being deprecated."
          ],
          "type": "string",
          "enum": [
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "customRolesSupportLevel": {
          "description": "The current custom role support level.",
          "enumDescriptions": [
            "Permission is fully supported for custom role use.",
            "Permission is being tested to check custom role compatibility.",
            "Permission is not supported for custom role use."
          ],
          "type": "string",
          "enum": [
            "SUPPORTED",
            "TESTING",
            "NOT_SUPPORTED"
          ]
        },
        "apiDisabled": {
          "description": "The service API associated with the permission is not enabled.",
          "type": "boolean"
        }
      }
    },
    "QueryAuditableServicesRequest": {
      "id": "QueryAuditableServicesRequest",
      "description": "A request to get the list of auditable services for a resource.",
      "type": "object",
      "properties": {
        "fullResourceName": {
          "description": "Required. The full resource name to query from the list of auditable\nservices.\n\nThe name follows the Google Cloud Platform resource format.\nFor example, a Cloud Platform project with id `my-project` will be named\n`\/\/cloudresourcemanager.googleapis.com\/projects\/my-project`.",
          "type": "string"
        }
      }
    },
    "QueryAuditableServicesResponse": {
      "id": "QueryAuditableServicesResponse",
      "description": "A response containing a list of auditable services for a resource.",
      "type": "object",
      "properties": {
        "services": {
          "description": "The auditable services for a resource.",
          "type": "array",
          "items": {
            "$ref": "AuditableService"
          }
        }
      }
    },
    "AuditableService": {
      "id": "AuditableService",
      "description": "Contains information about an auditable service.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Public name of the service.\nFor example, the service name for Cloud IAM is 'iam.googleapis.com'.",
          "type": "string"
        }
      }
    },
    "LintPolicyRequest": {
      "id": "LintPolicyRequest",
      "description": "The request to lint a Cloud IAM policy object. LintPolicy is currently\nfunctional only for `lint_object` of type `condition`.",
      "type": "object",
      "properties": {
        "fullResourceName": {
          "description": "The full resource name of the policy this lint request is about.\n\nThe name follows the Google Cloud Platform (GCP) resource format.\nFor example, a GCP project with ID `my-project` will be named\n`\/\/cloudresourcemanager.googleapis.com\/projects\/my-project`.\n\nThe resource name is not used to read the policy instance from the Cloud\nIAM database. The candidate policy for lint has to be provided in the same\nrequest object.",
          "type": "string"
        },
        "context": {
          "description": "`context` contains additional *permission-controlled* data that any\nlint unit may depend on, in form of `{key: value}` pairs. Currently, this\nfield is non-operational and it will not be used during the lint operation.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "policy": {
          "description": "Policy object to be linted. The functionality of linting a policy is not\nyet implemented and if this field is set, it returns NOT_IMPLEMENTED\nerror.",
          "$ref": "Policy"
        },
        "binding": {
          "description": "Binding object to be linted. The functionality of linting a binding is\nnot yet implemented and if this field is set, it returns NOT_IMPLEMENTED\nerror.",
          "$ref": "Binding"
        },
        "condition": {
          "description": "google.iam.v1.Binding.condition object to be linted.",
          "$ref": "Expr"
        }
      }
    },
    "LintPolicyResponse": {
      "id": "LintPolicyResponse",
      "description": "The response of a lint operation. An empty response indicates\nthe operation was able to fully execute and no lint issue was found.",
      "type": "object",
      "properties": {
        "lintResults": {
          "description": "List of lint results sorted by a composite <severity, binding_ordinal> key,\ndescending order of severity and ascending order of binding_ordinal.\nThere is no certain order among the same keys.\n\nFor cross-binding results (only if the input object to lint is\ninstance of google.iam.v1.Policy), there will be a\ngoogle.iam.admin.v1.LintResult for each of the involved bindings,\nand the associated debug_message may enumerate the other involved\nbinding ordinal number(s).",
          "type": "array",
          "items": {
            "$ref": "LintResult"
          }
        }
      }
    },
    "LintResult": {
      "id": "LintResult",
      "description": "Structured response of a single validation unit.",
      "type": "object",
      "properties": {
        "level": {
          "description": "The validation unit level.",
          "enumDescriptions": [
            "Level is unspecified.",
            "A validation unit which operates on a policy. It is executed only if the\ninput object to lint is of type google.iam.v1.Policy.",
            "A validation unit which operates on an individual binding. It is executed\nin both cases where the input object to lint is of type\ngoogle.iam.v1.Policy or google.iam.v1.Binding.",
            "A validation unit which operates on an individual condition within a\nbinding. It is executed in all three cases where the input object to\nlint is of type google.iam.v1.Policy,\ngoogle.iam.v1.Binding or\ngoogle.iam.v1.Binding.condition."
          ],
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "POLICY",
            "BINDING",
            "CONDITION"
          ]
        },
        "validationUnitName": {
          "description": "The validation unit name, for instance\n\u201ClintValidationUnits\/ConditionComplexityCheck\u201D.",
          "type": "string"
        },
        "severity": {
          "description": "The validation unit severity.",
          "enumDescriptions": [
            "Severity is unspecified.",
            "A validation unit returns an error only for critical issues. If an\nattempt is made to set the problematic policy without rectifying the\ncritical issue, it causes the `setPolicy` operation to fail.",
            "Any issue which is severe enough but does not cause an error.\nFor example, suspicious constructs in the input object will not\nnecessarily fail `setPolicy`, but there is a high likelihood that they\nwon't behave as expected during policy evaluation in `checkPolicy`.\nThis includes the following common scenarios:\n\n- Unsatisfiable condition: Expired timestamp in date\/time condition.\n- Ineffective condition: Condition on a <member, role> pair which is\n  granted unconditionally in another binding of the same policy.",
            "Reserved for the issues that are not severe as `ERROR`\/`WARNING`, but\nneed special handling. For instance, messages about skipped validation\nunits are issued as `NOTICE`.",
            "Any informative statement which is not severe enough to raise\n`ERROR`\/`WARNING`\/`NOTICE`, like auto-correction recommendations on the\ninput content. Note that current version of the linter does not utilize\n`INFO`.",
            "Deprecated severity level."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "NOTICE",
            "INFO",
            "DEPRECATED"
          ]
        },
        "bindingOrdinal": {
          "description": "0-based index ordinality of the binding in the input object associated\nwith this result.\nThis field is populated only if the input object to lint is of type\ngoogle.iam.v1.Policy, which can comprise more than one binding.\nIt is set to -1 if the result is not associated with any particular\nbinding and only targets the policy as a whole, such as results about\npolicy size violations.",
          "type": "integer",
          "format": "int32"
        },
        "fieldName": {
          "description": "The name of the field for which this lint result is about.\n\nFor nested messages, `field_name` consists of names of the embedded fields\nseparated by period character. The top-level qualifier is the input object\nto lint in the request. For instance, if the lint request is on a\ngoogle.iam.v1.Policy and this lint result is about a condition\nexpression of one of the input policy bindings, the field would be\npopulated as `policy.bindings.condition.expression`.\n\nThis field does not identify the ordinality of the repetitive fields (for\ninstance bindings in a policy).",
          "type": "string"
        },
        "locationOffset": {
          "description": "0-based character position of problematic construct within the object\nidentified by `field_name`. Currently, this is populated only for condition\nexpression.",
          "type": "integer",
          "format": "int32"
        },
        "debugMessage": {
          "description": "Human readable debug message associated with the issue.",
          "type": "string"
        }
      }
    },
    "AuditData": {
      "id": "AuditData",
      "description": "Audit log information specific to Cloud IAM. This message is serialized\nas an `Any` type in the `ServiceData` message of an\n`AuditLog` message.",
      "type": "object",
      "properties": {
        "policyDelta": {
          "description": "Policy delta between the original policy and the newly set policy.",
          "$ref": "PolicyDelta"
        }
      }
    },
    "PolicyDelta": {
      "id": "PolicyDelta",
      "description": "The difference delta between two policies.",
      "type": "object",
      "properties": {
        "bindingDeltas": {
          "description": "The delta for Bindings between two policies.",
          "type": "array",
          "items": {
            "$ref": "BindingDelta"
          }
        }
      }
    },
    "BindingDelta": {
      "id": "BindingDelta",
      "description": "One delta entry for Binding. Each individual change (only one member in each\nentry) to a binding will be a separate entry.",
      "type": "object",
      "properties": {
        "action": {
          "description": "The action that was performed on a Binding.\nRequired",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.\nRequired",
          "type": "string"
        },
        "member": {
          "description": "A single identity requesting access for a Cloud Platform resource.\nFollows the same format of Binding.members.\nRequired",
          "type": "string"
        },
        "condition": {
          "description": "Unimplemented. The condition that is associated with this binding.\nThis field is logged only for Cloud Audit Logging.",
          "$ref": "Expr"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "serviceAccounts": {
          "methods": {
            "list": {
              "id": "iam.projects.serviceAccounts.list",
              "path": "v1/{+name}/serviceAccounts",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the project associated with the service\naccounts, such as `projects\/my-project-123`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional limit on the number of service accounts to include in the\nresponse. Further accounts can subsequently be obtained by including the\nListServiceAccountsResponse.next_page_token\nin a subsequent request.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional pagination token returned in an earlier\nListServiceAccountsResponse.next_page_token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListServiceAccountsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists ServiceAccounts for a project."
            },
            "get": {
              "id": "iam.projects.serviceAccounts.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The resource name of the service account in the following format:\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`.\nUsing `-` as a wildcard for the `PROJECT_ID` will infer the project from\nthe account. The `ACCOUNT` value can be the `email` address or the\n`unique_id` of the service account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ServiceAccount"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a ServiceAccount."
            },
            "create": {
              "id": "iam.projects.serviceAccounts.create",
              "path": "v1/{+name}/serviceAccounts",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the project associated with the service\naccounts, such as `projects\/my-project-123`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CreateServiceAccountRequest"
              },
              "response": {
                "$ref": "ServiceAccount"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a ServiceAccount\nand returns it."
            },
            "update": {
              "id": "iam.projects.serviceAccounts.update",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}",
              "httpMethod": "PUT",
              "parameters": {
                "name": {
                  "description": "The resource name of the service account in the following format:\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`.\n\nRequests using `-` as a wildcard for the `PROJECT_ID` will infer the\nproject from the `account` and the `ACCOUNT` value can be the `email`\naddress or the `unique_id` of the service account.\n\nIn responses the resource name will always be in the format\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ServiceAccount"
              },
              "response": {
                "$ref": "ServiceAccount"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a ServiceAccount.\n\nCurrently, only the following fields are updatable:\n`display_name` .\nThe `etag` is mandatory."
            },
            "patch": {
              "id": "iam.projects.serviceAccounts.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "The resource name of the service account in the following format:\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`.\n\nRequests using `-` as a wildcard for the `PROJECT_ID` will infer the\nproject from the `account` and the `ACCOUNT` value can be the `email`\naddress or the `unique_id` of the service account.\n\nIn responses the resource name will always be in the format\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "PatchServiceAccountRequest"
              },
              "response": {
                "$ref": "ServiceAccount"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Patches a ServiceAccount.\n\nCurrently, only the following fields are updatable:\n`display_name` and `description`.\n\nOnly fields specified in the request are garaunteed to be returned in\nthe response. Other fields in the response may be empty.\n\nNote: The field mask is required."
            },
            "delete": {
              "id": "iam.projects.serviceAccounts.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The resource name of the service account in the following format:\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`.\nUsing `-` as a wildcard for the `PROJECT_ID` will infer the project from\nthe account. The `ACCOUNT` value can be the `email` address or the\n`unique_id` of the service account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a ServiceAccount."
            },
            "signBlob": {
              "id": "iam.projects.serviceAccounts.signBlob",
              "path": "v1/{+name}:signBlob",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signBlob",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The resource name of the service account in the following format:\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`.\nUsing `-` as a wildcard for the `PROJECT_ID` will infer the project from\nthe account. The `ACCOUNT` value can be the `email` address or the\n`unique_id` of the service account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SignBlobRequest"
              },
              "response": {
                "$ref": "SignBlobResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "**Note**: This method is in the process of being deprecated. Call the\n[`signBlob()`](\/iam\/credentials\/reference\/rest\/v1\/projects.serviceAccounts\/signBlob)\nmethod of the Cloud IAM Service Account Credentials API instead.\n\nSigns a blob using a service account's system-managed private key."
            },
            "signJwt": {
              "id": "iam.projects.serviceAccounts.signJwt",
              "path": "v1/{+name}:signJwt",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signJwt",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The resource name of the service account in the following format:\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`.\nUsing `-` as a wildcard for the `PROJECT_ID` will infer the project from\nthe account. The `ACCOUNT` value can be the `email` address or the\n`unique_id` of the service account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SignJwtRequest"
              },
              "response": {
                "$ref": "SignJwtResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "**Note**: This method is in the process of being deprecated. Call the\n[`signJwt()`](\/iam\/credentials\/reference\/rest\/v1\/projects.serviceAccounts\/signJwt)\nmethod of the Cloud IAM Service Account Credentials API instead.\n\nSigns a JWT using a service account's system-managed private key.\n\nIf no expiry time (`exp`) is provided in the `SignJwtRequest`, IAM sets an\nan expiry time of one hour by default. If you request an expiry time of\nmore than one hour, the request will fail."
            },
            "getIamPolicy": {
              "id": "iam.projects.serviceAccounts.getIamPolicy",
              "path": "v1/{+resource}:getIamPolicy",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:getIamPolicy",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns the IAM access control policy for a\nServiceAccount."
            },
            "setIamPolicy": {
              "id": "iam.projects.serviceAccounts.setIamPolicy",
              "path": "v1/{+resource}:setIamPolicy",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:setIamPolicy",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Sets the IAM access control policy for a\nServiceAccount."
            },
            "testIamPermissions": {
              "id": "iam.projects.serviceAccounts.testIamPermissions",
              "path": "v1/{+resource}:testIamPermissions",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:testIamPermissions",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Tests the specified permissions against the IAM access control policy\nfor a ServiceAccount."
            }
          }
          ,
          "resources": {
            "keys": {
              "methods": {
                "list": {
                  "id": "iam.projects.serviceAccounts.keys.list",
                  "path": "v1/{+name}/keys",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/keys",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the service account in the following format:\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`.\n\nUsing `-` as a wildcard for the `PROJECT_ID`, will infer the project from\nthe account. The `ACCOUNT` value can be the `email` address or the\n`unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                      "type": "string"
                    },
                    "keyTypes": {
                      "description": "Filters the types of keys the user wants to include in the list\nresponse. Duplicate key types are not allowed. If no key type\nis provided, all keys are returned.",
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "enum": [
                        "KEY_TYPE_UNSPECIFIED",
                        "USER_MANAGED",
                        "SYSTEM_MANAGED"
                      ]
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListServiceAccountKeysResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists ServiceAccountKeys."
                },
                "get": {
                  "id": "iam.projects.serviceAccounts.keys.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/keys/{keysId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the service account key in the following format:\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}\/keys\/{key}`.\n\nUsing `-` as a wildcard for the `PROJECT_ID` will infer the project from\nthe account. The `ACCOUNT` value can be the `email` address or the\n`unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+\/keys\/[^\/]+$",
                      "type": "string"
                    },
                    "publicKeyType": {
                      "description": "The output format of the public key requested.\nX509_PEM is the default output format.",
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "TYPE_NONE",
                        "TYPE_X509_PEM_FILE",
                        "TYPE_RAW_PUBLIC_KEY"
                      ]
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ServiceAccountKey"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the ServiceAccountKey\nby key id."
                },
                "create": {
                  "id": "iam.projects.serviceAccounts.keys.create",
                  "path": "v1/{+name}/keys",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/keys",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the service account in the following format:\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`.\nUsing `-` as a wildcard for the `PROJECT_ID` will infer the project from\nthe account. The `ACCOUNT` value can be the `email` address or the\n`unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CreateServiceAccountKeyRequest"
                  },
                  "response": {
                    "$ref": "ServiceAccountKey"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a ServiceAccountKey\nand returns it."
                },
                "delete": {
                  "id": "iam.projects.serviceAccounts.keys.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/keys/{keysId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the service account key in the following format:\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}\/keys\/{key}`.\nUsing `-` as a wildcard for the `PROJECT_ID` will infer the project from\nthe account. The `ACCOUNT` value can be the `email` address or the\n`unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+\/keys\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a ServiceAccountKey."
                }
              }
            },
            "identityBindings": {
              "methods": {
                "get": {
                  "id": "iam.projects.serviceAccounts.identityBindings.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/identityBindings/{identityBindingsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the service account identity binding in the following\nformat\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}\/identityBindings\/{BINDING}`.\n\nUsing `-` as a wildcard for the `PROJECT_ID` will infer the project from\nthe account. The `ACCOUNT` value can be the `email` address or the\n`unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+\/identityBindings\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ServiceAccountIdentityBinding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the ServiceAccountIdentityBinding\nfor a service account."
                },
                "create": {
                  "id": "iam.projects.serviceAccounts.identityBindings.create",
                  "path": "v1/{+name}/identityBindings",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/identityBindings",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the service account in the following format:\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`.\nUsing `-` as a wildcard for the `PROJECT_ID` will infer the project from\nthe account. The `ACCOUNT` value can be the `email` address or the\n`unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CreateServiceAccountIdentityBindingRequest"
                  },
                  "response": {
                    "$ref": "ServiceAccountIdentityBinding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a ServiceAccountIdentityBinding\nand returns it."
                },
                "delete": {
                  "id": "iam.projects.serviceAccounts.identityBindings.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/identityBindings/{identityBindingsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the service account identity binding in the following\nformat\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}\/identityBindings\/{BINDING}`.\nUsing `-` as a wildcard for the `PROJECT_ID` will infer the project from\nthe account. The `ACCOUNT` value can be the `email` address or the\n`unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+\/identityBindings\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a ServiceAccountIdentityBinding."
                },
                "list": {
                  "id": "iam.projects.serviceAccounts.identityBindings.list",
                  "path": "v1/{+name}/identityBindings",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/identityBindings",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the service account in the following format:\n`projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`.\n\nUsing `-` as a wildcard for the `PROJECT_ID`, will infer the project from\nthe account. The `ACCOUNT` value can be the `email` address or the\n`unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListServiceAccountIdentityBindingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists the ServiceAccountIdentityBindings\nfor a service account."
                }
              }
            }
          }
        },
        "roles": {
          "methods": {
            "list": {
              "id": "iam.projects.roles.list",
              "path": "v1/{+parent}/roles",
              "flatPath": "v1/projects/{projectsId}/roles",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The resource name of the parent resource in one of the following formats:\n`` (empty string) -- this refers to curated roles.\n`organizations\/{ORGANIZATION_ID}`\n`projects\/{PROJECT_ID}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional limit on the number of roles to include in the response.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional pagination token returned in an earlier ListRolesResponse.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "description": "Optional view for the returned Role objects.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "BASIC",
                    "FULL"
                  ]
                },
                "showDeleted": {
                  "description": "Include Roles that have been deleted.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListRolesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists the Roles defined on a resource."
            },
            "get": {
              "id": "iam.projects.roles.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/roles/{rolesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The resource name of the role in one of the following formats:\n`roles\/{ROLE_NAME}`\n`organizations\/{ORGANIZATION_ID}\/roles\/{ROLE_NAME}`\n`projects\/{PROJECT_ID}\/roles\/{ROLE_NAME}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/roles\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Role"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a Role definition."
            },
            "create": {
              "id": "iam.projects.roles.create",
              "path": "v1/{+parent}/roles",
              "flatPath": "v1/projects/{projectsId}/roles",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "The resource name of the parent resource in one of the following formats:\n`organizations\/{ORGANIZATION_ID}`\n`projects\/{PROJECT_ID}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CreateRoleRequest"
              },
              "response": {
                "$ref": "Role"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new Role."
            },
            "patch": {
              "id": "iam.projects.roles.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/roles/{rolesId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "The resource name of the role in one of the following formats:\n`roles\/{ROLE_NAME}`\n`organizations\/{ORGANIZATION_ID}\/roles\/{ROLE_NAME}`\n`projects\/{PROJECT_ID}\/roles\/{ROLE_NAME}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/roles\/[^\/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "A mask describing which fields in the Role have changed.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Role"
              },
              "response": {
                "$ref": "Role"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a Role definition."
            },
            "delete": {
              "id": "iam.projects.roles.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/roles/{rolesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The resource name of the role in one of the following formats:\n`organizations\/{ORGANIZATION_ID}\/roles\/{ROLE_NAME}`\n`projects\/{PROJECT_ID}\/roles\/{ROLE_NAME}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/roles\/[^\/]+$",
                  "type": "string"
                },
                "etag": {
                  "description": "Used to perform a consistent read-modify-write.",
                  "location": "query",
                  "type": "string",
                  "format": "byte"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Role"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Soft deletes a role. The role is suspended and cannot be used to create new\nIAM Policy Bindings.\nThe Role will not be included in `ListRoles()` unless `show_deleted` is set\nin the `ListRolesRequest`. The Role contains the deleted boolean set.\nExisting Bindings remains, but are inactive. The Role can be undeleted\nwithin 7 days. After 7 days the Role is deleted and all Bindings associated\nwith the role are removed."
            },
            "undelete": {
              "id": "iam.projects.roles.undelete",
              "path": "v1/{+name}:undelete",
              "flatPath": "v1/projects/{projectsId}/roles/{rolesId}:undelete",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The resource name of the role in one of the following formats:\n`organizations\/{ORGANIZATION_ID}\/roles\/{ROLE_NAME}`\n`projects\/{PROJECT_ID}\/roles\/{ROLE_NAME}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/roles\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "UndeleteRoleRequest"
              },
              "response": {
                "$ref": "Role"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Undelete a Role, bringing it back in its previous state."
            }
          }
        }
      }
    },
    "roles": {
      "methods": {
        "queryGrantableRoles": {
          "id": "iam.roles.queryGrantableRoles",
          "path": "v1/roles:queryGrantableRoles",
          "flatPath": "v1/roles:queryGrantableRoles",
          "httpMethod": "POST",
          "parameters": {
          },
          "parameterOrder": [
          ],
          "request": {
            "$ref": "QueryGrantableRolesRequest"
          },
          "response": {
            "$ref": "QueryGrantableRolesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Queries roles that can be granted on a particular resource.\nA role is grantable if it can be used as the role in a binding for a policy\nfor that resource."
        },
        "list": {
          "id": "iam.roles.list",
          "path": "v1/roles",
          "flatPath": "v1/roles",
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "description": "The resource name of the parent resource in one of the following formats:\n`` (empty string) -- this refers to curated roles.\n`organizations\/{ORGANIZATION_ID}`\n`projects\/{PROJECT_ID}`",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional limit on the number of roles to include in the response.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional pagination token returned in an earlier ListRolesResponse.",
              "location": "query",
              "type": "string"
            },
            "view": {
              "description": "Optional view for the returned Role objects.",
              "location": "query",
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ]
            },
            "showDeleted": {
              "description": "Include Roles that have been deleted.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
          ],
          "response": {
            "$ref": "ListRolesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists the Roles defined on a resource."
        },
        "get": {
          "id": "iam.roles.get",
          "path": "v1/{+name}",
          "flatPath": "v1/roles/{rolesId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The resource name of the role in one of the following formats:\n`roles\/{ROLE_NAME}`\n`organizations\/{ORGANIZATION_ID}\/roles\/{ROLE_NAME}`\n`projects\/{PROJECT_ID}\/roles\/{ROLE_NAME}`",
              "location": "path",
              "required": true,
              "pattern": "^roles\/[^\/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Role"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets a Role definition."
        }
      }
    },
    "organizations": {
      "resources": {
        "roles": {
          "methods": {
            "list": {
              "id": "iam.organizations.roles.list",
              "path": "v1/{+parent}/roles",
              "flatPath": "v1/organizations/{organizationsId}/roles",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The resource name of the parent resource in one of the following formats:\n`` (empty string) -- this refers to curated roles.\n`organizations\/{ORGANIZATION_ID}`\n`projects\/{PROJECT_ID}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional limit on the number of roles to include in the response.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional pagination token returned in an earlier ListRolesResponse.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "description": "Optional view for the returned Role objects.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "BASIC",
                    "FULL"
                  ]
                },
                "showDeleted": {
                  "description": "Include Roles that have been deleted.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListRolesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists the Roles defined on a resource."
            },
            "get": {
              "id": "iam.organizations.roles.get",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The resource name of the role in one of the following formats:\n`roles\/{ROLE_NAME}`\n`organizations\/{ORGANIZATION_ID}\/roles\/{ROLE_NAME}`\n`projects\/{PROJECT_ID}\/roles\/{ROLE_NAME}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/roles\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Role"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a Role definition."
            },
            "create": {
              "id": "iam.organizations.roles.create",
              "path": "v1/{+parent}/roles",
              "flatPath": "v1/organizations/{organizationsId}/roles",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "The resource name of the parent resource in one of the following formats:\n`organizations\/{ORGANIZATION_ID}`\n`projects\/{PROJECT_ID}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CreateRoleRequest"
              },
              "response": {
                "$ref": "Role"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new Role."
            },
            "patch": {
              "id": "iam.organizations.roles.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "The resource name of the role in one of the following formats:\n`roles\/{ROLE_NAME}`\n`organizations\/{ORGANIZATION_ID}\/roles\/{ROLE_NAME}`\n`projects\/{PROJECT_ID}\/roles\/{ROLE_NAME}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/roles\/[^\/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "A mask describing which fields in the Role have changed.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Role"
              },
              "response": {
                "$ref": "Role"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a Role definition."
            },
            "delete": {
              "id": "iam.organizations.roles.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The resource name of the role in one of the following formats:\n`organizations\/{ORGANIZATION_ID}\/roles\/{ROLE_NAME}`\n`projects\/{PROJECT_ID}\/roles\/{ROLE_NAME}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/roles\/[^\/]+$",
                  "type": "string"
                },
                "etag": {
                  "description": "Used to perform a consistent read-modify-write.",
                  "location": "query",
                  "type": "string",
                  "format": "byte"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Role"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Soft deletes a role. The role is suspended and cannot be used to create new\nIAM Policy Bindings.\nThe Role will not be included in `ListRoles()` unless `show_deleted` is set\nin the `ListRolesRequest`. The Role contains the deleted boolean set.\nExisting Bindings remains, but are inactive. The Role can be undeleted\nwithin 7 days. After 7 days the Role is deleted and all Bindings associated\nwith the role are removed."
            },
            "undelete": {
              "id": "iam.organizations.roles.undelete",
              "path": "v1/{+name}:undelete",
              "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}:undelete",
              "httpMethod": "POST",
              "parameters": {
                "name": {
[...]
