<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>addFlight</servlet-name>
    <servlet-class>com.google.appengine.demos.helloorm.AddFlight</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateFlight</servlet-name>
    <servlet-class>com.google.appengine.demos.helloorm.UpdateFlight</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getFlight</servlet-name>
    <servlet-class>com.google.appengine.demos.helloorm.GetFlight</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getFlights</servlet-name>
    <servlet-class>com.google.appengine.demos.helloorm.GetFlights</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteFlight</servlet-name>
    <servlet-class>com.google.appengine.demos.helloorm.DeleteFlight</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updatePersistenceStandard</servlet-name>
    <servlet-class>com.google.appengine.demos.helloorm.UpdatePersistenceStandard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFlight</servlet-name>
    <url-pattern>/addFlight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateFlight</servlet-name>
    <url-pattern>/updateFlight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getFlight</servlet-name>
    <url-pattern>/getFlight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteFlight</servlet-name>
    <url-pattern>/deleteFlight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updatePersistenceStandard</servlet-name>
    <url-pattern>/updatePersistenceStandard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getFlights</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
