@external projectsFolder;
@external listItem;

.folderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projectsFolder {
  display: grid;
  grid-template-columns: auto auto auto 1fr auto auto;
  align-items: center;
  height: 35px;
  grid-gap: 10px;
  padding: 0 20px;
  background: c-background;
}

.selected {
  background: c-highlight !important;
}

.field {
  font-family: f-h4;
  font-weight: 400;
  font-size: 1.1em;
  color: c-text;
  min-width: 200px;
}

.folderName {
  white-space: nowrap;
  width: fit-content;
  cursor: pointer;
}

.childrenContainer > .folderContainer > .listItem > span,
.childrenContainer > .folderContainer > .projectsFolder > .selection {
  padding-right: 20px;
}

.childrenContainer {
  display: none;
}

.childrenContainerExpanded {
  display: flex;
}

.selection {
  padding-right: 10px;
}

.selectionHidden {
  visibility: hidden;
}

@if (com.google.appinventor.client.Ode.isMobile()) {
  .projectsFolder {
    height: 44px;
  }
}
